:host fieldset {
  width: 100%;
  max-width: 75ch;
  font-family: var(--gcds-font-families-body);
  font-weight: var(--gcds-font-weights-regular);
  font-size: var(--gcds-font-sizes-paragraph);
  line-height: var(--gcds-line-heights-paragraph);
  color: var(--gcds-textarea-default-text);
  margin: 0;
  padding: 0;
  border: 0;
  transition: color ease-in-out 0.15s;

  &:focus-within {
    color: var(--gcds-textarea-focus);
  }

  &.disabled {
    color: var(--gcds-textarea-disabled-text);
  }

  &.error:not(:focus-within) {
    color: var(--gcds-textarea-destructive);
  }

  .error-message-container {
    display: block;
  }
}

:host textarea {
  display: block;
  min-width: 50%;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: inherit;
  line-height: var(--gcds-line-heights-paragraph);
  margin: 0 0 var(--gcds-spacing-400);
  padding: var(--gcds-spacing-200) var(--gcds-spacing-300);
  background-color: var(--gcds-textarea-default-background);
  background-image: none;
  color: var(--gcds-textarea-default-text);
  border: 2px solid currentColor;
  border-radius: var(--gcds-spacing-50);
  box-sizing: border-box;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:focus {
    border-color: var(--gcds-input-focus);
    box-shadow: 0 0 0 2px var(--gcds-color-grayscale-0);
    outline: 3px solid var(--gcds-input-focus);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gcds-textarea-disabled-background);
    border-color: var(--gcds-textarea-disabled-text);
  }

  &.error:not(:focus) {
    border-color: var(--gcds-textarea-destructive);
  }
}
