/* Menu */
:host [data-h2-menu] {
  font-family: var(--gcds-font-families-heading), sans-serif;
  font-size: var(--gcds-font-sizes-paragraph);
  line-height: var(--gcds-line-heights-paragraph);
  background-color: var(--gcds-site-menu-default-background);
  color: var(--gcds-site-menu-default-text);

  * {
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
  }

  /* Data Options */
  [data-optional-left],
  [data-optional-right] {
    margin: var(--gcds-spacing-400);
    color: var(--gcds-site-menu-default-text);
  }

  [data-optional-left] {
    font-weight: var(--gcds-font-weights-semibold);
  }

  img,
  iframe {
    max-width: 100%;
  }

  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      font-size: inherit;
      line-height: inherit;
      margin: 0;
      color: inherit;

      &:not(:last-child) {
        border-bottom: 1px solid var(--gcds-site-menu-default-border);
      }

      [role='menuitem'] {
        display: flex;
        align-items: center;
      }

      a[role='menuitem'] {
        color: inherit;
        text-decoration: underline;
        transition: background .2s ease-in-out, color .2s ease-in-out;

        &:active {
          outline: none;
          background-color: var(--gcds-site-menu-active-background);
          color: var(--gcds-site-menu-active-text);
        }

        &:focus {
          outline: none;
          background-color: var(--gcds-site-menu-focus-background);
          color: var(--gcds-site-menu-focus-text);
        }

        @media (hover: hover) {
          &:hover {
            background-color: var(--gcds-site-menu-hover-background);
            color: var(--gcds-site-menu-default-text);
          }
        }
      }

      /* Submenu */
      [data-h2-menulist] {
        display: none;
        margin: 0;
        padding: 0;
        background-color: var(--gcds-site-menu-default-background);
        box-shadow: inset 0 5px 10px -5px var(--gcds-site-menu-submenu-box-shadow);

        [role='menuitem'][aria-haspopup] {
          flex: 0 0 calc(100% - var(--gcds-spacing-600));
          width: calc(100% - var(--gcds-spacing-600));
        }

        [data-h2-menulist] {
          background-color: var(--gcds-site-menu-submenu-background);
        }
      }
    }
  }

  /* Submenu Trigger */
  [data-h2-submenu-trigger] {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--gcds-spacing-600);
    height: var(--gcds-spacing-600);
    font-size: inherit;
    line-height: inherit;
    background-color: var(--gcds-site-menu-submenu-trigger-background);
    color: var(--gcds-site-menu-submenu-trigger-text);
    border: 0;
    cursor: pointer;
    transition: background .2s ease-in-out, color .2s ease-in-out;

    &:active {
      background-color: var(--gcds-site-menu-active-background);
      color: var(--gcds-site-menu-active-text);
    }

    &:focus {
      outline: none;
      background-color: var(--gcds-site-menu-focus-background);
      color: var(--gcds-site-menu-focus-text);
    }

    @media (hover: hover) {
      &:hover:not(:focus) {
        background-color: var(--gcds-site-menu-submenu-trigger-hover-background);
      }
    }

    [data-h2-submenu-trigger-accessibility-text] {
      display: block;
      overflow: hidden;
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0;
    }
  }

  [data-h2-menulist] [data-h2-menulist] [data-h2-submenu-trigger] {
    position: absolute;
    height: var(--gcds-spacing-600);
  }

  [data-h2-submenu-trigger-add-icon],
  li.h2-active > [data-h2-submenu-trigger] [data-h2-submenu-trigger-remove-icon] {
    display: block;
  }

  [data-h2-submenu-trigger-remove-icon],
  li.h2-active > [data-h2-submenu-trigger] [data-h2-submenu-trigger-add-icon] {
    display: none;
  }

  /* Selection */
  ::selection {
    background: var(--gcds-site-menu-selection-background);
    color: var(--gcds-site-menu-selection-text);
  }
}

/* Mobile Menu Trigger */
:host [data-h2-mobile-menu-trigger] {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  @media screen and (min-width: 64em) {
    display: none;
  }

  [data-h2-mobile-menu-trigger-open-label],
  &.h2-active [data-h2-mobile-menu-trigger-close-label] {
    display: inline;
  }

  [data-h2-mobile-menu-trigger-close-label],
  &.h2-active [data-h2-mobile-menu-trigger-open-label] {
    display: none;
  }
}

/* --- Alignment --- */

/* Center */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar'][menu-alignment*='center']) [data-h2-menu-container] {
    justify-content: space-between;
  }
}

/* Right */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar'][menu-alignment*='right']) [data-h2-menu-container] > [data-h2-menulist] {
    margin-left: auto;
  }
  :host([menu-desktop-layout*='topbar'][menu-alignment*='right']) [data-h2-menu] [data-h2-menulist] [data-h2-menulist] {
    left: auto;
    right: 0;
  }
}

/* Split */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar'][menu-alignment*='split']) [data-h2-menu] [data-h2-menu-container] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > [data-h2-menulist]:first-of-type {
      margin-right: auto;
    }
  }
}

/* --- Position --- */

/* Sticky */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar'][menu-sticky]) [data-h2-menu] {
    position: sticky;
    top: 0;
    left: 0;
  }
}

/* --- Layouts --- */

/* Drawer */
@media only screen and (max-width: 64em) {
  :host([menu-mobile-layout*='drawer']) [data-h2-menu],
  :host([menu-mobile-layout*='toolbar']) [data-h2-menu] {
    z-index: 9990;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }

  :host([menu-mobile-layout*='drawer']),
  :host([menu-mobile-layout*='toolbar']) {
    [data-h2-menu] [data-h2-menulist] [data-h2-menulist] li {
      [role='menuitem'] {
        padding-left: var(--gcds-spacing-500);
      }

      [data-h2-menulist] li {
        [role='menuitem'] {
          padding-left: var(--gcds-spacing-600);
        }

        [data-h2-menulist] li [role='menuitem'] {
          padding-left: var(--gcds-spacing-700);
        }
      }
    }
  }
}

:host([menu-mobile-layout*='drawer']) {
  [data-h2-menu] {
    display: none;

    &.h2-mobile-menu-active {
      display: block;
    }

    [data-h2-menulist] {
      li [role='menuitem'] {
        min-height: var(--gcds-spacing-600);
        padding: var(--gcds-spacing-300) var(--gcds-spacing-400);
      }
    }
  }

  .h2-active > [data-h2-menulist] {
    display: block;
  }
}

/* Sidebar */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='sidebar']) {
    [data-h2-menu] {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      height: 100vh;
    }

    [data-h2-menulist] {
      width: 16rem;

      li {
        display: flex;

        &:first-child {
          border-top: 1px solid var(--gcds-site-menu-default-border);
        }

        &:last-child {
          border-bottom: 1px solid var(--gcds-site-menu-default-border);
        }

        [role='menuitem'] {
          flex: 1 1 auto;
          &[aria-haspopup] {
            flex: 0 0 calc(100% - var(--gcds-spacing-600));
            width: calc(100% - var(--gcds-spacing-600));
          }
        }
      }

      [data-h2-menulist] {
        position: fixed;
        top: 0;
        height: 100%;
        transform: translate(100%);
        background-color: var(--gcds-site-menu-default-background);
        box-shadow: inset 5px 0 8px -3px var(--gcds-site-menu-submenu-box-shadow);
        [data-h2-menulist] {
          background-color: var(--gcds-site-menu-default-background);
        }
      }
    }
  }
}

/* Topbar */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar']) {
    [data-optional-left],
    [data-optional-right] {
      display: grid;
      align-content: center;
      @media screen and (min-width: 64em) {
        margin: 0;
      }
    }

    [data-optional-left] {
      margin-right: var(--gcds-spacing-400);
    }

    [data-optional-right] {
      margin-left: var(--gcds-spacing-400);
    }

    [data-h2-menu] {
      display: block;
    }

    [data-h2-menu-container] {
      display: flex;
      max-width: var(--gcds-container-400);
      margin-inline: auto;

      > [data-h2-menulist] {
        display: flex;

        > li {
          display: inline-flex;
          border: 0;
        }

        li [role='menuitem'] {
          padding: var(--gcds-spacing-300) var(--gcds-spacing-400);
        }

        [data-h2-menulist] li {
          [role='menuitem'] {
            min-height: var(--gcds-spacing-600);
          }

          [data-h2-menulist] li {
            [role='menuitem'] {
              padding-left: var(--gcds-spacing-500);
            }

            [data-h2-menulist] li {
              [role='menuitem'] {
                padding-left: var(--gcds-spacing-600);
              }

              [data-h2-menulist] li [role='menuitem'] {
                padding-left: var(--gcds-spacing-700);
              }
            }
          }
        }
      }
    }

    [data-h2-submenu-trigger] {
      @media screen and (min-width: 64em) {
        position: relative;
        height: 100%;
      }
    }
  }

  :host([menu-desktop-layout*='topbar'][menu-mobile-layout*='drawer']) [data-h2-menu-container] > [data-h2-menulist] > li > [data-h2-menulist] {
    overflow: auto;
    position: absolute;
    bottom: 0;
    width: 25vw;
    max-height: 70vh;
    min-width: 25rem;
    transform: translateY(100%);
  }
}

@media screen and (max-width: 76.625em) {
  :host([menu-desktop-layout*='topbar']) [data-h2-menu-container] {
    max-width: 90%;
  }
}
