:host fieldset {
  width: 75ch;
  max-width: 90%;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #000;
  border: 0;
  transition: color ease-in-out .15s;

  &:focus-within {
    color: #303FC3;
  }

  &.disabled {
    color: #707070;
  }

  &.error:not(:focus-within) {
    color: #D3080C;
  }
}

:host input {
  display: block;
  min-width: 45px;
  max-width: 100%;
  height: auto;
  min-height: 45px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.6;
  margin: 0 0 25px;
  padding: 8px 10px;
  background-color: #FFF;
  background-image: none;
  color: #000;
  border: 2px solid currentColor;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:not([size]) {
    width: 100%;
  }

  &:focus {
    outline: 0;
    border-color: #303FC3;
    box-shadow: 0 0 0 2.5px #303FC3;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #F0F0F0;
    border-color: #828282;
  }

  &.error:not(:focus) {
    border-color: #D3080C;
  }
}
