dist/
www/
loader/
/tmp
/out-tsc
/bazel-out
docs/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log
yarn-error.log
.idea/
.project
.classpath
.c9/
*.launch
.settings/

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Duplicate global css file
packages/react/gcds.css