@layer reset, default, focus, compact;

@layer reset {
  :host {
    display: block;
  }
}

@layer default {
  :host {
    container: component summary / inline-size;

    .gcds-error-summary {
      padding: var(--gcds-error-summary-padding);
      margin: var(--gcds-error-summary-margin);
      border: var(--gcds-error-summary-border-width) solid
        var(--gcds-error-summary-border-color);
      color: var(--gcds-error-summary-text);
      transition:
        background 0.15s ease-in-out,
        border 0.15s ease-in-out,
        color 0.15s ease-in-out;
      display: none;

      &.gcds-show {
        display: block;
      }

      .summary__heading {
        font: var(--gcds-error-summary-heading-font);
        margin: 0;
        padding-block-end: var(--gcds-error-summary-heading-padding-bottom);
      }

      .summary__errorlist {
        padding: 0;
        margin: var(--gcds-error-summary-list-margin);

        .summary__listitem {
          max-width: var(--gcds-error-summary-max-width);

          &:not(:last-child) {
            padding: var(--gcds-error-summary-list-item-padding);
          }
        }
      }
    }
  }
}

@layer focus {
  :host .gcds-error-summary:is(:focus, :has(:focus-within)) {
    border-color: var(--gcds-error-summary-focus-color);

    .summary__heading {
      color: var(--gcds-error-summary-focus-color);
    }
  }
}

@layer compact {
  @container summary (width < 24em) {
    :host .gcds-error-summary {
      padding: var(--gcds-error-summary-mobile-padding);
    }
  }
}
