/* Menu */
:host [data-h2-menu] {
  font-family: var(--gcds-font-families-heading), sans-serif;
  font-size: var(--gcds-font-sizes-text);
  line-height: var(--gcds-line-heights-text);
  background-color: var(--gcds-site-menu-default-background);
  color: var(--gcds-site-menu-default-text);
  z-index: 100;

  * {
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
  }

  /* Data Options */
  [data-optional-left],
  [data-optional-right] {
    margin: var(--gcds-spacing-400);
    color: var(--gcds-site-menu-default-text);
  }

  [data-optional-left] {
    font-weight: var(--gcds-font-weights-semibold);
  }

  img,
  iframe {
    max-width: 100%;
  }

  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      font-size: inherit;
      line-height: inherit;
      margin: 0;
      color: inherit;
      transition: background .2s ease-in-out;

      &:not(:last-child) {
        border-bottom: 1px solid var(--gcds-site-menu-default-border);
      }

      &:active {
        background-color: var(--gcds-site-menu-active-background);

        > [role='menuitem'],
        > [data-trigger-label],
        > [data-h2-submenu-trigger] {
          color: var(--gcds-site-menu-active-text);
        }
      }

      &:focus-within {
        background-color: var(--gcds-site-menu-focus-background);

        > [role='menuitem'],
        > [data-trigger-label],
        > [data-h2-submenu-trigger] {
          color: var(--gcds-site-menu-focus-text);
        }
      }

      @media (hover: hover) {
        &:not(:focus-within):hover {
          background-color: var(--gcds-site-menu-hover-background);
        }
      }

      [role='menuitem'],
      [data-trigger-label] {
        display: flex;
        align-items: center;
        transition: color .2s ease-in-out;

        &:active,
        &:focus {
          outline: none;
        }
      }

      a[role='menuitem'] {
        color: inherit;
        text-decoration: underline;
      }

      /* Submenu */
      [data-h2-menulist] {
        display: none;
        margin: 0;
        padding: 0;
        background-color: var(--gcds-site-menu-default-background);
        box-shadow: inset 0 5px 10px -5px var(--gcds-site-menu-submenu-box-shadow);

        [data-h2-menulist] {
          background-color: var(--gcds-site-menu-submenu-background);
        }
      }
    }
  }

  /* Submenu Trigger */
  [data-h2-submenu-trigger] {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: var(--gcds-spacing-600);
    font-size: inherit;
    line-height: inherit;
    background-color: transparent;
    color: var(--gcds-site-menu-submenu-trigger-text);
    padding: var(--gcds-spacing-300) var(--gcds-spacing-400);
    border: 0;
    cursor: pointer;
    transition: color .2s ease-in-out;

    &:active,
    &:focus {
      outline: none;
    }

    svg {
      fill: currentColor;
    }

    [data-h2-submenu-trigger-accessibility-text] {
      display: block;
      overflow: hidden;
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0;
    }
  }

  [data-back-button] {
    display: none;
    visibility: hidden;
    font-size: inherit;
    color: var(--gcds-site-menu-submenu-trigger-text);
    border: 0;
    cursor: pointer;
    transition: color .2s ease-in-out;
    line-height: inherit;
    background-color: transparent;
    align-items: center;
    min-height: var(--gcds-spacing-600);
    padding: var(--gcds-spacing-300) var(--gcds-spacing-400);

    &:active,
    &:focus {
      outline: none;
      color: var(--gcds-site-menu-active-text);
    }

    svg {
      fill: currentColor;
    }
  }

  [data-h2-menulist] [data-h2-menulist] [data-h2-submenu-trigger] {
    position: absolute;
    height: var(--gcds-spacing-600);
  }

  [data-h2-submenu-trigger-add-icon],
  li.h2-active > [data-h2-submenu-trigger] [data-h2-submenu-trigger-remove-icon] {
    display: block;
  }

  [data-h2-submenu-trigger-remove-icon],
  li.h2-active > [data-h2-submenu-trigger] [data-h2-submenu-trigger-add-icon] {
    display: none;
  }

  /* Selection */
  ::selection {
    background: var(--gcds-site-menu-selection-background);
    color: var(--gcds-site-menu-selection-text);
  }
}

/* Mobile Menu Trigger */
:host [data-h2-mobile-menu-trigger] {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  @media screen and (min-width: 64em) {
    display: none;
  }

  [data-h2-mobile-menu-trigger-open-label],
  &.h2-active [data-h2-mobile-menu-trigger-close-label] {
    display: inline;
  }

  [data-h2-mobile-menu-trigger-close-label],
  &.h2-active [data-h2-mobile-menu-trigger-open-label] {
    display: none;
  }
}

/* --- Alignment --- */

/* Center */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar'][menu-alignment*='center']) [data-h2-menu-container] {
    justify-content: space-between;
  }
}

/* Right */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar'][menu-alignment*='right']) [data-h2-menu-container] > [data-h2-menulist] {
    margin-left: auto;
  }

  :host([menu-desktop-layout*='topbar'][menu-alignment*='right']) [data-h2-menu] [data-h2-menulist] [data-h2-menulist] {
    left: auto;
    right: 0;
  }
}

/* Split */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar'][menu-alignment*='split']) [data-h2-menu] [data-h2-menu-container] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > [data-h2-menulist]:first-of-type {
      margin-right: auto;
    }
  }
}

/* --- Position --- */

/* Sticky */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar'][menu-sticky]) [data-h2-menu] {
    position: sticky;
    top: 0;
    left: 0;
  }
}

/* --- Layouts --- */

/* Drawer */
@media only screen and (max-width:  63.99em) {
  :host([menu-mobile-layout*='drawer']) [data-h2-menu],
  :host([menu-mobile-layout*='toolbar']) [data-h2-menu] {
    z-index: 9990;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }

  :host([menu-mobile-layout*='drawer']),
  :host([menu-mobile-layout*='toolbar']) {
    [data-h2-menu] [data-h2-menulist] [data-h2-menulist] li {
      [role='menuitem'],
      [data-trigger-label] {
        padding-left: var(--gcds-spacing-500);
      }

      [data-h2-menulist] li {
        [role='menuitem'],
        [data-trigger-label] {
          padding-left: var(--gcds-spacing-600);
        }

        [data-h2-menulist] li [role='menuitem'],
        [data-h2-menulist] li [data-trigger-label] {
          padding-left: var(--gcds-spacing-700);
        }
      }
    }
  }
}

:host([menu-mobile-layout*='drawer']) {
  [data-h2-menu] {
    display: none;

    &.h2-mobile-menu-active {
      display: block;
    }

    [data-h2-menulist] {
      @media screen and (max-width: 63.99em) {
        margin: 0 0 -2px;
        border-bottom: 1px solid var(--gcds-site-menu-default-border);
      }

      li [role='menuitem'],
      li [data-trigger-label] {
        min-height: var(--gcds-spacing-600);
        padding: var(--gcds-spacing-300) var(--gcds-spacing-400);
      }
    }
  }

  .h2-active > [data-h2-menulist] {
    display: block;
  }
}

/* Sidebar */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='sidebar']) {
    [data-h2-menu] {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      height: 100vh;
    }

    [data-h2-menulist] {
      width: 16rem;

      li {
        display: flex;

        &:first-child {
          border-top: 1px solid var(--gcds-site-menu-default-border);
        }

        &:last-child {
          border-bottom: 1px solid var(--gcds-site-menu-default-border);
        }

        [role='menuitem'],
        [data-trigger-label],
        [data-back-button] {
          flex: 1 1 auto;
        }

        [data-back-button] {
          display: flex;
          visibility: visible;
        }
      }

      [data-h2-menulist] {
        position: fixed;
        top: 0;
        height: 100%;
        transform: translate(100%);
        background-color: var(--gcds-site-menu-submenu-background);
        box-shadow: 0 0 .25rem var(--gcds-site-menu-submenu-box-shadow);

        [data-h2-menulist] {
          background-color: var(--gcds-site-menu-submenu-background);
        }
      }
    }

    ::slotted([slot*=main]) {
      margin-left: 25%;
      overflow-x: hidden;
      width: 75%;
    }
  }

  :host [data-sidebar-backdrop] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: var(--gcds-site-menu-active-background);
    z-index: 99;
    opacity: .15;
  }
}

/* Topbar */
@media screen and (min-width: 64em) {
  :host([menu-desktop-layout*='topbar']) {
    [data-optional-left],
    [data-optional-right] {
      display: grid;
      align-content: center;

      @media screen and (min-width: 64em) {
        margin: 0;
      }
    }

    [data-optional-left] {
      margin-right: var(--gcds-spacing-400);
    }

    [data-optional-right] {
      margin-left: var(--gcds-spacing-400);
    }

    [data-h2-menu] {
      display: block;
    }

    [data-h2-menu-container] {
      display: flex;
      max-width: var(--gcds-container-400);
      margin-inline: auto;

      > [data-h2-menulist] {
        display: flex;

        > li {
          display: flex;
          border: 0;
        }

        li [role='menuitem'] {
          padding: var(--gcds-spacing-300) var(--gcds-spacing-400);
        }

        li [data-trigger-label] {
          padding-right: var(--gcds-spacing-600);
        }

        [data-h2-menulist] li {
          [role='menuitem'],
          [data-trigger-label] {
            min-height: var(--gcds-spacing-600);
          }

          [data-h2-menulist] {
            margin: 0 0 -2px;
            border-bottom: 1px solid var(--gcds-site-menu-default-border);

            li {
              [role='menuitem'],
              [data-trigger-label] {
                padding-left: var(--gcds-spacing-500);
              }

              [data-h2-menulist] li {
                [role='menuitem'],
                [data-trigger-label] {
                  padding-left: var(--gcds-spacing-600);
                }

                [data-h2-menulist] li [role='menuitem'],
                [data-h2-menulist] li [data-trigger-label] {
                  padding-left: var(--gcds-spacing-700);
                }
              }
            }
          }
        }
      }
    }

    [data-h2-submenu-trigger] {
      @media screen and (min-width: 64em) {
        height: 100%;

        [data-h2-submenu-trigger-add-icon] {
          transform: rotate(90deg);
        }

        [data-h2-submenu-trigger-remove-icon] {
          transform: rotate(90deg);
        }
      }
    }
  }

  :host([menu-desktop-layout*='topbar'][menu-mobile-layout*='drawer']) [data-h2-menu-container] > [data-h2-menulist] > li > [data-h2-menulist] {
    position: absolute;
    bottom: 0;
    width: 25vw;
    max-height: 70vh;
    min-width: 25rem;
    transform: translateY(100%);
  }
}

@media screen and (max-width: 76.625em) {
  :host([menu-desktop-layout*='topbar']) [data-h2-menu-container]:not([data-mobile]) {
    max-width: 90%;
  }
}
