@layer reset, default, hint, error;

@layer reset {
  :host {
    display: block;
  }
}

@layer default {
  :host {
    .gcds-date-input__fieldset {
      --gcds-fieldset-font-desktop: var(--gcds-label-font-desktop);
      --gcds-fieldset-font-mobile: var(--gcds-label-font-mobile);
      --gcds-fieldset-legend-margin: 0 0 var(--gcds-spacing-300);
    }

    .gcds-date-input__month,
    .gcds-date-input__year,
    .gcds-date-input__day {
      display: inline-block;
      padding-right: var(--gcds-spacing-200);

      --gcds-label-font-desktop: 400 1.25rem/120% "Noto Sans", sans-serif;
      --gcds-label-font-mobile: 400 1rem/150% "Noto Sans",sans-serif;
    }
  }
}

@layer hint {
  :host {
    .gcds-date-input--hint {
      --gcds-fieldset-legend-margin: 0 0 0.1875rem;
    }
  }
}

@layer error {
  :host {
    .gcds-date-input--error {
      --gcds-fieldset-legend-margin: 0 0 0.1875rem;
    }

    gcds-input.gcds-date-input--error::part(input),
    gcds-select.gcds-date-input--error::part(input) {
      border-color: var(--gcds-input-danger-border);
    }
  }
}
