:host .gcds-file-uploader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90%;
  font: var(--gcds-file-uploader-font);
  color: var(--gcds-file-uploader-default-text);
  margin: 0;
  padding: 0;
  border: 0;
  transition: color ease-in-out .15s;

  &:focus-within {
    color: var(--gcds-file-uploader-focus-text);
  }

  &.gcds-disabled {
    color: var(--gcds-file-uploader-disabled-text);

    .file-uploader__input input,
    .file-uploader__uploaded-file,
    .file-uploader__uploaded-file gcds-icon {
      cursor: not-allowed;
    }

    .file-uploader__input button {
      background-color: var(--gcds-file-uploader-disabled-background);
      color: inherit;
      border-color: var(--gcds-file-uploader-disabled-text);
    }

    .file-uploader__uploaded-file {
      outline: 0;
      background-color: var(--gcds-file-uploader-disabled-background);
      color: var(--gcds-file-uploader-disabled-text);

      gcds-icon {
        color: inherit;
      }
    }
  }

  &.gcds-error {
    &:not(:focus-within) {
      color: var(--gcds-file-uploader-danger-text);
    }

    .file-uploader__uploaded-file:not(:focus) {
      background-color: var(--gcds-file-uploader-danger-background);
      color: var(--gcds-file-uploader-danger-text);
    }
  }
}

:host .file-uploader__input {
  position: relative;
  display: inline-block;

  button {
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--gcds-file-uploader-button-font-weight);
    line-height: inherit;
    padding: var(--gcds-file-uploader-button-padding);
    background-color: var(--gcds-file-uploader-button-background);
    color: var(--gcds-file-uploader-button-text);
    border: var(--gcds-file-uploader-button-border-width) solid var(--gcds-file-uploader-button-text);
    border-radius: var(--gcds-file-uploader-button-border-radius);
    transition: all .15s ease-in-out;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  #file-uploader__summary {
    visibility: hidden;
    height: 0;
    margin: 0;
    overflow: hidden;
  }

  &:focus-within button {
    background-color: var(--gcds-file-uploader-focus-button-background);
    color: var(--gcds-file-uploader-focus-button-text);
    outline: var(--gcds-file-uploader-button-outline-width) solid var(--gcds-file-uploader-focus-button-background);
    border-color: currentColor;
  }
}

:host .file-uploader__uploaded-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--gcds-file-uploader-file-max-width);
  font: inherit;
  background-color: var(--gcds-file-uploader-file-background);
  color: var(--gcds-file-uploader-default-text);
  margin: var(--gcds-file-uploader-file-margin);
  border: 0;
  border-radius: var(--gcds-file-uploader-file-border-radius);
  outline: var(--gcds-file-uploader-button-outline-width) solid transparent;
  outline-offset: var(--gcds-file-uploader-file-outline-offset);
  cursor: pointer;

  &:first-of-type {
    margin: var(--gcds-file-uploader-file-margin-first-of-type);
  }

  span,
  gcds-icon {
    padding: var(--gcds-file-uploader-file-padding);
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline-end: 0;
  }

  gcds-icon {
    pointer-events: none;
    color: var(--gcds-file-uploader-file-icon-default);
    transition: color .15s ease-in-out;

    &:hover {
      color: var(--gcds-file-uploader-file-icon-hover);
    }

    &:active {
      color: var(--gcds-file-uploader-file-icon-active);
    }
  }

  &:focus-within {
    background-color: var(--gcds-file-uploader-focus-button-background);
    color: var(--gcds-file-uploader-focus-button-text);
    outline-color: var(--gcds-file-uploader-focus-button-background);

    span,
    gcds-icon {
      color: inherit;
    }
  }
}
