:host .gcds-file-uploader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90%;
  font: var(--gcds-file-uploader-font);
  color: var(--gcds-file-uploader-default-text);
  margin: 0;
  padding: 0;
  border: 0;
  transition: color ease-in-out .15s;

  &:focus-within {
    color: var(--gcds-file-uploader-focus-text);
  }

  &.gcds-disabled {
    color: var(--gcds-file-uploader-disabled-text);

    .file-uploader__input input,
    .file-uploader__uploaded-file,
    .file-uploader__uploaded-file gcds-icon {
      cursor: not-allowed;
    }

    .file-uploader__input button {
      background-color: var(--gcds-file-uploader-disabled-background);
      color: inherit;
      border-color: var(--gcds-file-uploader-disabled-text);
      outline: 0;
    }

    .file-uploader__uploaded-file {
      color: inherit;

      button {
        color: inherit;

        &:focus {
          background: transparent;
        }
      }
    }
  }

  &.gcds-error {
    &:not(:focus-within) {
      color: var(--gcds-file-uploader-danger-text);
    }

    .file-uploader__uploaded-file:not(:focus) {
      border-color: var(--gcds-file-uploader-file-danger-border-color);
    }
  }
}

:host .file-uploader__input {
  position: relative;
  display: inline-block;

  &.uploaded-files {
    margin: var(--gcds-file-uploader-button-margin);
  }

  button {
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--gcds-file-uploader-button-font-weight);
    line-height: inherit;
    padding: var(--gcds-file-uploader-button-padding);
    background-color: var(--gcds-file-uploader-button-background);
    color: var(--gcds-file-uploader-button-text);
    border: var(--gcds-file-uploader-button-border-width) solid var(--gcds-file-uploader-button-text);
    border-radius: var(--gcds-file-uploader-button-border-radius);
    transition: all .15s ease-in-out;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  #file-uploader__summary {
    visibility: hidden;
    height: 0;
    margin: 0;
    overflow: hidden;
  }

  &:focus-within button {
    background-color: var(--gcds-file-uploader-focus-button-background);
    color: var(--gcds-file-uploader-focus-button-text);
    outline: var(--gcds-file-uploader-button-outline-width) solid var(--gcds-file-uploader-focus-button-background);
    border-color: currentColor;
  }
}

:host .file-uploader__uploaded-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--gcds-file-uploader-file-max-width);
  font: inherit;
  font-weight: var(--gcds-file-uploader-button-font-weight);
  color: var(--gcds-file-uploader-default-text);
  padding: var(--gcds-file-uploader-file-padding);
  border: var(--gcds-file-uploader-file-border-width) solid var(--gcds-file-uploader-file-border-color);
  cursor: pointer;

  &:not(:last-of-type) {
    border-block-end: 0;
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline-end: 0;
  }

  button {
    display: flex;
    align-items: center;
    font: inherit;
    background: transparent;
    color: var(--gcds-file-uploader-file-button-default-text);
    margin: var(--gcds-file-uploader-file-button-margin);
    padding: var(--gcds-file-uploader-file-button-padding);
    outline: 0;
    transition: color .35s;

    &:hover {
      color: var(--gcds-file-uploader-file-button-hover-text);
    }

    &:focus {
      background-color: var(--gcds-file-uploader-focus-button-background);
      color: var(--gcds-file-uploader-focus-button-text);
    }
  }
}
