:host button,
:host a {
  border: none;
  cursor: pointer;
  font-family: var(--gcds-font-families-heading), sans-serif;
  font-size: var(--gcds-font-sizes-paragraph);
  line-height: var(--gcds-font-sizes-paragraph);
  padding: 1rem .75rem;
  text-decoration: none;
  border-radius: 4px;

  border-width: var(--custom-gcds-style-border-width);
  border-style: var(--custom-gcds-style-border-style);
  border-color: var(--custom-gcds-style-border-color);
  margin: var(--custom-gcds-style-margin);
  display: var(--custom-gcds-style-display);
  background-color: var(--custom-gcds-style-background-color);
  box-shadow: var(--custom-gcds-style-box-shadow);
  text-transform: var(--custom-gcds-style-text-transform);

  transition: all .15s ease-in-out;

  /* Shared Styles */
  &[aria-disabled="true"] {
    background: var(--gcds-button-shared-disabled-background);
    border: 1px solid var(--gcds-button-shared-disabled-border);
    color: var(--gcds-button-shared-disabled-text);
    cursor: not-allowed;
  }

  &:focus {
    background-color: var(--gcds-button-shared-focus-background);
    box-shadow: 0 0 0 2px var(--gcds-button-shared-focus-text);
    outline: 3px solid var(--gcds-button-shared-focus-background);
    outline-offset: 2px;
    color: var(--gcds-button-shared-focus-text);
  }

  &.outline:not([aria-disabled="true"]) {
    border: 1px solid currentColor;
  }

  &.solid:not([aria-disabled="true"]) {
    color: var(--gcds-button-shared-text);
  }

  /* Specific Styles */
  &:not(:focus):not(:active):not([aria-disabled="true"]) {
    &.primary {
      &.solid {
        background-color:
          var(--custom-gcds-style-background-color,
          var(--gcds-button-primary-default));
        &:hover {
          background-color: var(--gcds-button-primary-hover);
        }
      }
      &.outline,
      &.text-only {
        color: var(--gcds-button-primary-default);
        &:hover {
          color: var(--gcds-button-primary-hover);
        }
      }
    }

    &.secondary {
      &.solid {
        background-color:
          var(--custom-gcds-style-background-color,
          var(--gcds-button-secondary-default));
        &:hover {
          background-color: var(--gcds-button-secondary-hover);
        }
      }
      &.outline,
      &.text-only {
        color: var(--gcds-button-secondary-default);
        &:hover {
          color: var(--gcds-button-secondary-hover);
        }
      }
    }

    &.destructive {
      &.solid {
        background-color:
          var(--custom-gcds-style-background-color,
          var(--gcds-button-destructive-default));
        &:hover {
          background-color: var(--gcds-button-destructive-hover);
        }
      }
      &.outline,
      &.text-only {
        color: var(--gcds-button-destructive-default);
        &:hover {
          color: var(--gcds-button-destructive-hover);
        }
      }
    }
  }

  &.skip-to-content {
    left: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
    z-index: 3;

    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 1px;

    &.solid:not(:focus) {
      background-color:
        var(--custom-gcds-style-background-color,
        var(--gcds-button-primary-default));
      color: var(--gcds-button-shared-text);
    }

    &.solid,
    &.outline,
    &.text-only {
      &:focus {
        clip: rect(auto, auto, auto, auto);
        height: inherit;
        margin: inherit;
        overflow: inherit;
        position: static;
        width: inherit;
      }
    }
  }

  &:active {
    color: var(--gcds-button-shared-text);

    &.primary {
      background-color: var(--gcds-button-primary-active);
      outline-color: var(--gcds-button-primary-active);
    }

    &.secondary {
      background-color: var(--gcds-button-secondary-active);
      outline-color: var(--gcds-button-secondary-active);
    }

    &.destructive {
      background-color: var(--gcds-button-destructive-active);
      outline-color: var(--gcds-button-destructive-active);
    }
  }
}
