:host {
  display: block;
}

:host button,
:host a {
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

:host button.primary--solid,
:host a.primary--solid {
  background-color: var(--gcds-colour-base-blue-grey-900);
  color: var(--gcds-colour-utils-white);
}
:host button.secondary--solid,
:host a.secondary--solid {
  background-color: var(--gcds-colour-base-grey-100);
  color: var(--gcds-colour-base-blue-grey-900);
}
:host button.danger--solid,
:host a.danger--solid {
  background-color: var(--gcds-colour-base-red-500);
  color: var(--gcds-colour-utils-white);
}

@import 'gcds-button-style-api.css';