:host {
  display: block;
  font-family: var(--gcds-lang-toggle-font-family);
  font-size: var(--gcds-lang-toggle-font-size);
  font-weight: var(--gcds-lang-toggle-font-weight);
  line-height: var(--gcds-lang-toggle-line-height);

  h2 {
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

  a {
    color: var(--gcds-lang-toggle-default-text);
    padding: var(--gcds-lang-toggle-padding);

    span {
      display: none;
    }

    abbr {
      text-transform: uppercase;
      text-decoration: none;
    }

    &:hover {
      color: var(--gcds-lang-toggle-hover-text);
    }

    &:focus {
      color: var(--gcds-lang-toggle-focus-text);
      background-color: var(--gcds-lang-toggle-focus-background);
    }

    &:active {
      color: var(--gcds-lang-toggle-active-text);
      background-color: var(--gcds-lang-toggle-active-background);
    }
  }

  @media screen and (min-width: 64em) {
    a {
      padding: 0;
    
      span {
        display: inherit;
      }

      abbr {
        display: none;
      }
    }
  }
}
