:host {
  display: block;

  h2 {
    height: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

  a {
    span {
      display: none;
    }

    abbr {
      text-transform: uppercase;
      font-size: var(--gcds-font-sizes-h4);
    }

    @media screen and (min-width: 64em) {
      span {
        display: inherit;
      }

      abbr {
        display: none;
      }
    }
  }
}
