:host .gcds-breadcrumbs {
  ol {
    font: var(--gcds-breadcrumbs-font);
    list-style: none;
    overflow-x: hidden;
    margin: var(--gcds-breadcrumbs-margin);
    padding: var(--gcds-breadcrumbs-padding);

    &.has-canada-link gcds-breadcrumbs-item:first-child,
    &:not(.has-canada-link) ::slotted(:first-child) {
      margin: var(--gcds-breadcrumbs-item-first-child-margin) !important;
    }

    &.has-canada-link gcds-breadcrumbs-item:first-child {
      &:before {
        display: none;
      }
    }
  }
}
