:host .gcds-breadcrumbs {
  overflow-x: hidden;

  ol {
    font: var(--gcds-breadcrumbs-font);
    list-style: none;
    margin: var(--gcds-breadcrumbs-margin);
    padding: 0;

    &.has-canada-link gcds-breadcrumbs-item:first-child,
    &:not(.has-canada-link) ::slotted(:first-child) {
      margin: var(--gcds-breadcrumbs-item-first-child-margin) !important;
    }
  }
}
