:host .gcds-breadcrumbs {
  overflow-x: hidden;

  ol {
    font-family: var(--gcds-breadcrumbs-font-family);
    font-size: var(--gcds-breadcrumbs-font-size);
    font-weight: var(--gcds-breadcrumbs-font-weight);
    line-height: var(--gcds-breadcrumbs-line-height);
    list-style: none;
    margin: 0;
    padding: 0;

    &.has-canada-link gcds-breadcrumbs-item:first-child,
    &:not(.has-canada-link) ::slotted(:first-child) {
      margin: var(--gcds-breadcrumbs-item-first-child-margin) !important;
    }
  }
}
