@media screen and (min-width: 64em) {
  :host(.gcds-menu-link--sitemenu) {
    & > a {
      padding: var(--gcds-spacing-300);
    }
  }
}

:host {
  display: flex;

  a {
    padding: var(--gcds-spacing-250);
    box-sizing: border-box;
    width: 100%;
    max-width: 20rem;
  }
}

