:host .gcds-details {
  font: var(--gcds-details-font);

  summary {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: var(--gcds-details-summary-padding);
    color: var(--gcds-details-default-text);
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

    &:focus {
      outline: 0;
      background-color: var(--gcds-details-focus-background);
      color: var(--gcds-details-focus-text);
    }

    &:active {
      background-color: var(--gcds-details-active-background);
      color: var(--gcds-details-active-text);
    }

    &:before {
      position: absolute;
      top: var(--gcds-details-summary-arrow-top);
      left: var(--gcds-details-summary-arrow-left);
      width: 0;
      height: 0;
      content: '';
      border-block-start: var(--gcds-details-summary-arrow-border-top-bottom) solid transparent;
      border-block-end: var(--gcds-details-summary-arrow-border-top-bottom) solid transparent;
      border-inline-start: var(--gcds-details-summary-arrow-border-left) solid currentColor;
      transition: transform 0.15s ease-in-out;
    }

    p {
      display: inline-block;
      font: var(--gcds-details-font);
      margin: var(--gcds-details-summary-text-margin);
      border-block-end: var(--gcds-details-summary-border-width) solid currentColor;
    }
  }

  .details__panel {
    margin: var(--gcds-details-panel-margin);
    padding: var(--gcds-details-panel-padding);
    border-inline-start: var(--gcds-details-panel-border-width) solid var(--gcds-details-panel-border-color);

    ::slotted(*) {
      font: var(--gcds-details-font);
      margin: 0 0 var( --gcds-details-panel-slotted-margin);
    }

    ::slotted(*:first-child) {
      margin-block-start: 0;
    }

    ::slotted(*:last-child) {
      margin-block-end: 0;
    }

    ::slotted(ol),
    ::slotted(ul) {
      margin-inline-start: var( --gcds-details-panel-slotted-margin);
      padding: 0;
    }

    ::slotted(small) {
      font: var(--gcds-details-font-small);
    }
  }

  &:hover {
    summary:not(:focus) {
      color: var(--gcds-details-hover-text);
    }
  }

  &[open] summary:before {
    transform: rotate(90deg);
  }
}
