@layer reset, default, mobile, focus;

@layer reset {
  :host * {
    margin: 0;
    box-sizing: border-box;
  }
}

@layer default {
  :host {
    display: block;

    .gcds-topic-menu__main,
    .gcds-topic-menu__header {
      display: inherit;
      width: 0;
      height: 0;
      margin: 0;
      overflow: hidden;
    }

    .visible-sm-inline {
      display: none;
    }

    .gcds-topic-menu {
      width: 90%;
      max-width: 71.25rem;
      margin-inline: auto;
      position: relative;
      font: var(--gcds-font-text);

      button[aria-haspopup=true] {
        background-color: var(--gcds-color-blue-900); /* --gcds-color-blue-900 */
        border: var(--gcds-border-width-sm) solid var(--gcds-color-blue-900);
        color: var(--gcds-color-grayscale-0);
        margin-inline-start: 0;
        padding: var(--gcds-spacing-200) var(--gcds-spacing-300);
        text-transform: uppercase;
        cursor: pointer;
        font: var(--gcds-font-text);

        &.gcds-topic-menu--home {
          background-color: var(--gcds-color-grayscale-0);
          border-color: var(--gcds-color-grayscale-0);
          color: #284162; /* odd one */
        }

        &:hover,
        &[aria-expanded="true"] {
          background-color: #444; /* odd one */
          border-color: #444; /* odd one */
          color: var(--gcds-color-grayscale-0);
        }
      }

      [aria-haspopup=true][aria-expanded=false]+[role=menu] {
        display: none;
      }

      button[aria-haspopup=true][aria-expanded=true]+[role=menu] {
        z-index: 9999;

        [role=menuitem] {
          z-index: 9999;
          position: relative;
        }
      }
      [aria-haspopup=true][aria-expanded=true]+[role=menu] {
        z-index: 9998;
      }

      /* First level - Theme list */
      [role=menu] {
        background-color: #444; /* odd one */
        color: var(--gcds-color-grayscale-0);
        list-style: none;
        padding: 0;
        position: absolute;
        margin: 0;
        width: var(--gcds-container-full);

        &>li {
          border-inline-start: var(--gcds-border-width-sm) solid #444;

          &:first-child {
            border-block-start: var(--gcds-border-width-sm) solid #444;
          }

          &:last-child {
            border-block-end: var(--gcds-border-width-sm) solid #444;
          }
        }

        /* Second level - Topic list */
        [role=menu] {
          background-color: var(--gcds-color-grayscale-0);
          border-block-start: var(--gcds-border-width-sm) solid var(--gcds-color-grayscale-100);
          -webkit-box-shadow: var(--gcds-spacing-150) var(--gcds-spacing-150) var(--gcds-spacing-150) var(--gcds-spacing-100) rgba(0,0,0,.1);
          box-shadow: var(--gcds-spacing-150) var(--gcds-spacing-150) var(--gcds-spacing-150) var(--gcds-spacing-100) rgba(0,0,0,.1);
          color: var(--gcds-color-grayscale-1000);
          left: 22.5rem;
          margin-block-end: var(--gcds-spacing-400);
          min-height: 51.6875rem;
          padding: 0 var(--gcds-spacing-450) var(--gcds-spacing-400) var(--gcds-spacing-450);
          top: 0;
          width: calc(100% - 22.25rem);

          li {
            border: none;
            width: 45%;

            [role=menuitem] {
              color: #284162; /* odd one */
              padding: var(--gcds-spacing-100) 0;
              text-decoration: underline;
              border-block-end: none;
              border-inline-end: none;
              width: auto;

              &[aria-haspopup=true],
              &[aria-haspopup=true]:hover {
                color: var(--gcds-color-grayscale-1000);
                font-size: var(--gcds-font-sizes-text);
                font-weight: var(--gcds-font-weights-bold);
                text-decoration: none;
              }

              &:hover {
                color: var(--gcds-link-hover);
                text-decoration-thickness: var(--gcds-border-width-md);
              }
            }

            &:first-child {
              margin-block-end: var(--gcds-spacing-450);
              width: 100%;
    
              [role=menuitem] {
                font-size: var(--gcds-font-sizes-h3);
                font-weight: var(--gcds-font-weights-bold);
                line-height: var(--gcds-line-heights-h3);
                text-decoration: underline;
              }
            }
            &:last-child {
              left: 25rem;
              position: absolute;
              top: var(--gcds-spacing-700);

              [aria-expanded=true] {
                background: transparent;
              }
    
              [role=menu] {
                list-style: disc;
                padding-block-start: 0;
              }
            }
          }

          /* Third level - Most requested list */
          [role=menu] {
            -webkit-box-shadow: none;
            box-shadow: none;
            width: auto;
            left: auto;
            top: auto;
            border-block-start: none;
            min-height: auto;

            li {
              width: 100%;

              &:first-child {
                margin-bottom: 0;
  
                [role=menuitem] {
                  font-size: var(--gcds-font-sizes-caption);
                  font-weight: var(--gcds-font-weights-regular);
                  text-decoration: underline;
                  width: auto;
                }
              }
  
              &:last-child {
                left: auto;
                position: relative;
                top: auto;
              }
            }
          }
          @media screen and (min-width: 61.9375rem) and (max-width: 74.9375rem) {
            li {
              width: auto;
            }

            li:last-child {
              left: auto;
              margin-block-start: var(--gcds-spacing-250);
              position: relative;
              top: auto;
            }
  
            [role=menu] {
              margin-block-end: 0;
              padding-block-end: 0;
              position: relative;
  
              li:last-child {
                margin-block-start: 0;
              }
            }
          }
        }
      }

      [role=menuitem],
      [role=menuitem]:visited {
        border-block-end: var(--gcds-border-width-sm) solid var(--gcds-color-grayscale-700);
        border-right: var(--gcds-border-width-sm) solid var(--gcds-color-grayscale-0);
        color: var(--gcds-color-grayscale-0);
        font-size: var(--gcds-font-sizes-caption);
        text-decoration: none;
        display: block;
        padding: var(--gcds-spacing-250) var(--gcds-spacing-400);
        width: 22.5rem;
        box-sizing: border-box;
        text-underline-offset: 0.2em;

        &:hover,
        &[aria-expanded="true"] {
          background-color: var(--gcds-color-grayscale-0);
          color: var(--gcds-color-grayscale-900);
        }
      }
    }
  }
}

@layer mobile {
  :host {
    .gcds-topic-menu {
      @media screen and (max-width: 61.9375rem) {
        .visible-sm-inline {
          display: inline-block;
          text-decoration: underline;
        }
        .hidden-sm {
          display: none;
        }
  
        [role=menu] {
          margin-block-end: var(--gcds-spacing-500);
          width: auto;
          position: static;
  
          [role=menu] {
            border-top: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            margin-block-end: 0;
            min-height: auto;
            padding: 0;
            width: auto;
  
            li {
              width: auto;
  
              [role=menuitem] {
                padding: var(--gcds-spacing-250) var(--gcds-spacing-400) var(--gcds-spacing-250) 0;
              }
            }
  
            [role=menuitem] {
              border-block-end: var(--gcds-border-width-sm) solid var(--gcds-color-grayscale-100);

              &:hover {
                color: var(--gcds-link-hover);
                background-color: transparent;
              }

              &[aria-haspopup] {
                font-size: var(--gcds-font-sizes-caption);
                font-weight: var(--gcds-font-weights-regular);
              }
            }
  
            li:first-child {
              margin-block-end: 0;
  
              [role=menuitem] {
                border-block-end: var(--gcds-border-width-sm) solid var(--gcds-color-grayscale-100);
                color: var(--gcds-color-grayscale-1000);
                font-size: var(--gcds-font-sizes-caption);
                font-weight: var(--gcds-font-weights-regular);
                text-decoration: underline;
                width: auto;
              }
            }
  
            li:last-child {
              left: auto;
              position: static;
              top: auto;
  
              [role=menuitem] {
                color: #284162; /* odd one */
                text-decoration: none;

                &:hover {
                  color: var(--gcds-color-grayscale-1000);
                  text-decoration: underline;
                }
              }
  
              [role=menu] {
                list-style: none;
                padding-block-start: 0;
  
                li {
                  width: auto;

                  [role=menuitem]:hover {
                    color: var(--gcds-color-grayscale-1000);
                    text-decoration: underline;
                  }
                }
              }
            }
  
            li:first-child,
            li:last-child {
              background-color: var(--gcds-color-grayscale-100);
            }
          }
        }
  
        [role=menuitem] {
          width: auto;
        }

        [aria-expanded=true] {
          &:not(button)+[role=menu] {
            li {
              margin-inline-start: var(--gcds-spacing-550);

              &:first-child,
              &:last-child {
                margin-inline-start: 0;

                [role=menuitem] {
                  padding-inline-start: var(--gcds-spacing-550);
                }
              }

              &:last-child {
                [role=menu] [role=menuitem] {
                  padding-inline-start: 0;
                }
              }
            }

            [role=menu] li {
              margin-inline-start: var(--gcds-spacing-700);
            }
          }

          &+[role=menu] [role=menu] [role=menu] {
            background-color: var(--gcds-color-grayscale-100);
          }
        }
  
        [aria-haspopup]:not(button)::before {
          content: "\25BA\a0";
        }
        [aria-haspopup][aria-expanded=true]:not(button)::before {
          content: "\25BC\a0";
        }
  
        button[aria-haspopup=true][aria-expanded=true]+[role=menu] {
          border-right: var(--gcds-border-width-sm) solid var(--gcds-color-grayscale-50);
        }
      }
    }
  }
}

@layer focus {
  :host {
    .gcds-topic-menu {
      button[aria-haspopup=true]:focus,
      [role=menuitem]:focus {
        border-radius: var(--gcds-details-focus-border-radius);
        background-color: var(--gcds-details-focus-background);
        color: var(--gcds-details-focus-text);
        box-shadow: var(--gcds-details-focus-box-shadow);
        outline-offset: var(--gcds-details-focus-outline-offset);
        outline: var(--gcds-details-focus-outline);
        border-inline-end: none;
      }
    }
  }
}
