:host .banner-verify {
  font-size: var( --gcds-font-sizes-caption);
  background-color: var(--gcds-verify-banner-background);

  /* Is Fixed */
  &.is-fixed {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  /* Max content width */
  .container-lg,
  .container-md,
  .container-sm,
  .container-xs {
    width: 90%;
  }

  .container-fluid {
    max-width: var(--gcds-container-500);
    padding-inline: var(--gcds-spacing-300);
  }

  .container-lg {
    max-width: var(--gcds-container-400);
  }

  .container-md {
    max-width: var(--gcds-container-300);
  }

  .container-sm {
    max-width: var(--gcds-container-200);
  }

  .container-xs {
    max-width: var(--gcds-container-100);
  }

  summary,
  .verify-content {
    font-size: 90%;
  }

  summary {
    display: flex;
    margin-inline: auto;
    padding-block: var(--gcds-spacing-200);

    &:hover {
      cursor: pointer;
    }

    .svg-container,
    p small {
      margin: 0 var(--gcds-spacing-300) 0 0;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      line-height: var(--gcds-line-heights-caption);
      margin: 0;
    }

    .content-toggle {
      flex: 0 0 auto;
      pointer-events: none;
      font-weight: var(--gcds-font-weights-bold);
      color: var(--gcds-verify-banner-toggle-text);
      text-decoration: underline;

      .svg-container path {
        fill: var(--gcds-verify-banner-toggle-text);
      }
    }
  }

  .verify-content {
    margin: 0 auto;
    padding-top: var(--gcds-spacing-400);
    padding-bottom: var(--gcds-spacing-200);
    border-top: 1px solid var(--gcds-verify-banner-border);

    li {
      list-style: none;
      margin: 0 0 var(--gcds-spacing-400);

      h4,
      p {
        width: 90%;
        max-width: var(--gcds-container-200);
      }

      p .svg-container {
        margin-inline: var(--gcds-spacing-50);
      }
    }

    h4 {
      margin: 0 0  var(--gcds-container-50);
    }

    p {
      line-height: var(--gcds-line-heights-caption);
      margin: 0;
    }
  }

  &[open] summary .content-toggle svg {
    transform: rotate(-180deg);
  }
}
