:host {
  display: block;

  ul {
    padding: 0;
    list-style: none;

    li {
      margin: var(--gcds-pagination-listitem-margin);

      a {
        color: var(--gcds-pagination-default-text);
        font: var(--gcds-pagination-font);
        border-radius: var(--gcds-pagination-border-radius);

        &:hover {
          background: var(--gcds-pagination-hover-background);
        }

        &:focus {
          color: var(--gcds-pagination-focus-text);
          background-color: var(--gcds-pagination-focus-background);
          outline: var(--gcds-pagination-focus-outline-width) solid var(--gcds-pagination-focus-background);
          outline-offset: var(--gcds-pagination-border-width);
        }

        &:active:not(:focus),
        &[aria-current*=page]:not(:focus) {
          color: var(--gcds-pagination-active-text);
          background: var(--gcds-pagination-active-background);
        }
      }
    }

    @media screen and (max-width: 24em) {
      li {
        margin: var(--gcds-pagination-mobile-list-item-margin);
      }
    }

    &.gcds-pagination-list,
    &.gcds-pagination-list-mobile-prevnext {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      width: fit-content;

      li {
        a,
        & > span.gcds-pagination-list-ellipses {
          height: 2.75rem;
          min-width: 2.75rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &.gcds-pagination-end-button,
          &.gcds-pagination-end-button-mobile {
            padding: var(--gcds-pagination-list-end-button-padding);
            width: auto;
            min-width: auto;
            height: auto;
          }
        }

        &.gcds-pagination-mobile-prevnext {
          display: none;
        }

        &.gcds-pagination-list-mobile-ellipses {
          display: none;
        }

        /* Mobile styling */
        @media screen and (max-width: 49em) {
          a {
            border: var(--gcds-pagination-border-width) solid var(--gcds-pagination-border-color);

            &:focus {
              border-color: var(--gcds-pagination-focus-background);
            }
          }

          & > span.gcds-pagination-list-ellipses {
            min-width: auto;
          }

          &:has(> a.gcds-pagination-end-button) {
            margin: 0;
          }

          .gcds-pagination-end-button {
            display: none;
          }

          &.gcds-pagination-mobile-prevnext {
            display: block;
          }
        }

        /* Mobile breakpoints for responsive rendering */
        @media screen and (max-width: 34.75em) {
          &.gcds-pagination-list-breakpoint-488 {
            display: none;
          }

          &.gcds-pagination-list-mobile-ellipses:has(+ .gcds-pagination-list-breakpoint-488),
          &.gcds-pagination-list-breakpoint-488 + .gcds-pagination-list-mobile-ellipses {
            display: list-item;
          }
        }
        @media screen and (max-width: 32.5em) {
          &.gcds-pagination-list-breakpoint-460 {
            display: none;
            margin: 0;
          }

          &.gcds-pagination-list-mobile-ellipses:has(+ .gcds-pagination-list-breakpoint-460),
          &.gcds-pagination-list-breakpoint-460 + .gcds-pagination-list-mobile-ellipses {
            display: list-item;
          }
        }
        @media screen and (max-width: 31em) {
          &.gcds-pagination-list-breakpoint-420 {
            display: none;
          }

          &.gcds-pagination-list-mobile-ellipses:has(+ .gcds-pagination-list-breakpoint-420),
          &.gcds-pagination-list-breakpoint-420 + .gcds-pagination-list-mobile-ellipses {
            display: list-item;
          }
        }
        @media screen and (max-width: 25.75em) {
          &.gcds-pagination-list-breakpoint-360 {
            display: none;
          }

          &.gcds-pagination-list-mobile-ellipses:has(+ .gcds-pagination-list-breakpoint-360),
          &.gcds-pagination-list-breakpoint-360 + .gcds-pagination-list-mobile-ellipses {
            display: list-item;
          }
        }
      }
    }

    &.gcds-pagination-list-mobile-prevnext {
      display: none;
      margin: var(--gcds-pagination-mobile-list-prevnext-margin);
    }

    @media screen and (max-width: 49em) {
      &.gcds-pagination-list-mobile-prevnext {
        display: flex;
      }
    }

    &.gcds-pagination-simple {
      li {
        margin: var(--gcds-pagination-simple-listitem-margin);
        justify-content: space-between;
        width: fit-content;
        display: inline-block;

        a {
          display: grid;
          padding: var(--gcds-pagination-simple-padding);

          & > gcds-icon {
            grid-area: icon;
          }

          & > .gcds-pagination-simple-text {
            grid-area: text;
            margin: var(--gcds-pagination-simple-listitem-text-margin)
          }

          & > span {
            grid-area: label;
            font-weight: var(--gcds-pagination-simple-label-font-weight);
            text-decoration: underline;
          }
        }

        &.gcds-pagination-simple-previous {
          a {
            grid-template-areas:
              "icon text"
              "icon label";
            grid-template-columns: 0.25fr 1fr;
          }
        }
        &.gcds-pagination-simple-next {
          float: right;

          a {
            grid-template-areas:
              "text icon"
              "label icon";
            grid-template-columns: 1fr 0.25fr ;
          }
        }
      }

      @media screen and (max-width: 25.75em) {
        li {
          display: block;

          &:last-of-type {
            float: none;
          }
        }
      }
    }
  }
}
