gcds-signature {
  display: block;
  width: fit-content;
  margin-bottom: var(--gcds-spacing-100);

  &:not([type='wordmark']) {
    svg {
      height: 30px;
      margin-bottom: var(--gcds-spacing-100);
    }

    @media screen and (min-width: 768px) {
      svg {
        height: 27px;
      }
    }
    @media screen and (min-width: 64em) {
      svg {
        height: 34px;
      }
    }
  }

  &[type='wordmark'] {
    svg {
      height: 40px;
      margin-bottom: 2em;
      margin-top: 20px;
      width: auto;
    }
  }

  &:not([variant='white']) {
    svg {
      .fip_text {
        fill: #000;
      }
      .fip_flag {
        fill: #F00;
      }
    }
  }

  &[variant='white'] {
    svg {
      .fip_text,
      .fip_flag {
        fill: #FFF;
      }
    }
  }
}
