gcds-signature {
  display: block;
  width: fit-content;
  margin-bottom: var(--gcds-spacing-100);

  &:not([type='wordmark']) {
    svg {
      height: 1.875rem;
      margin-bottom: var(--gcds-spacing-100);
    }

    @media screen and (min-width: 768px) {
      svg {
        height: 1.6875rem;
      }
    }

    @media screen and (min-width: 64em) {
      svg {
        height: 2.125rem;
      }
    }
  }

  &[type='wordmark'] {
    svg {
      height: var(--gcds-spacing-500);
      margin-bottom: var(--gcds-spacing-500);
      margin-top: var(--gcds-spacing-400);
      width: auto;
    }
  }

  &:not([variant='white']) {
    svg {
      .fip_text {
        fill: var( --gcds-signature-color-text);
      }

      .fip_flag {
        fill: var(--gcds-signature-color-flag);
      }
    }
  }

  &[variant='white'] {
    svg {
      .fip_text,
      .fip_flag {
        fill: var(--gcds-signature-white-default);
      }
    }
  }
}
