@layer reset, default, slot, link, hover;

@layer reset {
  :host {
    display: block;

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    slot {
      display: initial;
    }
  }
}

@layer default {
  :host .gcds-card {
    border: var(--gcds-card-border);
    border-radius: var(--gcds-card-border-radius);
    background-color: var(--gcds-card-background-color);
    display: block;
    padding: var(--gcds-card-padding);
    height: 100%;
    color: var(--gcds-card-color);
    position: relative;

    > *:not(slot):not(.gcds-card__spacer) {
      display: block;
      margin: var(--gcds-card-margin);
    }

    .gcds-card__image {
      width: 100%;
    }

    .gcds-card__tag {
      font: var(--gcds-card-tag-font);
      color: var(--gcds-card-tag-color);
    }

    .gcds-card__title {
      font: var(--gcds-card-title-font);
      width: fit-content;
    }

    .gcds-card__description {
      max-width: var(--gcds-card-description-max-width);
    }
  }
}

@layer slot {
  :host .gcds-card:has(slot) {
    display: flex;
    flex-direction: column;

    .gcds-card__spacer {
      flex: 1;
    }

    ::slotted(*) {
      color: var(--gcds-card-slot-color);
      font: var(--gcds-card-slot-font) !important;
      z-index: 2;
    }
  }
}

@layer link {
  :host .gcds-card.gcds-card--link gcds-link::part(link):after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: '';
  }
}

@layer hover {
  @media (hover: hover) {
    :host .gcds-card {
      &.gcds-card--link:hover {
        background-color: var(--gcds-card-hover-background-color);
        cursor: pointer;
        box-shadow: var(--gcds-card-hover-box-shadow);
      }

      &.gcds-card--link:hover gcds-link::part(link) {
        color: var(--gcds-card-hover-title-color);
        text-decoration-thickness: var(
          --gcds-card-hover-title-text-decoration-thickness
        );
      }
    }
  }
}
