:host button,
:host a {
  cursor: pointer;
  font-family: var(--gcds-button-font-family);
  font-size: var(--gcds-button-font-size);
  font-weight: var(--gcds-button-font-weight);
  line-height: var(--gcds-button-line-height);
  padding: var(--gcds-button-padding);
  border: var(--gcds-button-border-width) solid;
  text-decoration: none;
  border-radius: var(--gcds-button-border-radius);
  transition: all .15s ease-in-out;

  /* Button Role Styles */
  &.button--role-destructive {
    background-color: var(--gcds-button-destructive-default-background);
    border-color: var(--gcds-button-destructive-default-background);
    color: var(--gcds-button-destructive-default-text);

    &:hover {
      background-color: var(--gcds-button-destructive-hover-background);

      &:focus {
        outline-color: var(--gcds-button-destructive-hover-background);
      }
    }
  }

  &.button--role-primary {
    background-color: var(--gcds-button-primary-default-background);
    border-color: var(--gcds-button-primary-default-background);
    color: var(--gcds-button-primary-default-text);

    &:hover {
      background-color: var(--gcds-button-primary-hover-background);

      &:focus {
        outline-color: var(--gcds-button-primary-hover-background);
      }
    }
  }

  &.button--role-secondary,
  &.button--text-only {
    background-color: var(--gcds-button-secondary-default-background);
    color: var(--gcds-button-secondary-default-text);
    border: var(--gcds-button-border-width) solid currentColor;

    &.active,
    &:hover {
      border-color: var(--gcds-button-secondary-default-text);
      color: var(--gcds-button-secondary-default-text);

      &:focus {
        outline-color: var(--gcds-button-secondary-default-text);
      }
    }

    &:hover {
      background-color: var(--gcds-button-secondary-hover-background);
    }

    &:active {
      background-color: var(--gcds-button-secondary-active-background);
    }
  }

  &.button--text-only {
    &:not([aria-disabled="true"]) {
      text-decoration: underline;
      text-underline-position: under;
    }

    &:not(:active):not(:hover):not([aria-disabled="true"]) {
      border-color: transparent;
    }
  }

  &.button--role-skip-to-content {
    position: absolute;
    top: var(--gcds-button-skip-top);
    left: 0;
    width: inherit;
    z-index: 3;

    &:not(:focus) {
      clip: rect(0, 0, 0, 0);
      height: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 0;
    }
  }

  /* Shared Styles */
  &[aria-disabled="true"] {
    background-color: var(--gcds-button-shared-disabled-background);
    color: var(--gcds-button-shared-disabled-text);
    cursor: not-allowed;
    border: var(--gcds-button-border-width) solid currentColor;
    pointer-events: none;
  }

  &:focus,
  &:focus-visible {
    background-color: var(--gcds-button-shared-focus-background);
    border-color: var(--gcds-button-shared-focus-background);
    color: var(--gcds-button-shared-focus-text);
    outline: var(--gcds-button-shared-focus-outline-width) solid var(--gcds-button-shared-focus-background);
    outline-offset: var(--gcds-button-border-width);
  }

  &.button--solid:not(.secondary):active {
    background-color: var(--gcds-button-shared-active-background);
    color: var(--gcds-button-shared-active-text);

    &:focus {
      outline-color: var(--gcds-button-shared-focus-background);
    }
  }

  /* Small button styling */
  &.button--small {
    font-size: var(--gcds-button-small-font-size);
    padding: var(--gcds-button-small-padding);
  }
}
