:host button,
:host a {
  border: none;
  cursor: pointer;
  font-family: var(--gcds-font-families-body), sans-serif;
  font-size: var(--gcds-font-sizes-text);
  line-height: var(--gcds-font-sizes-text);
  padding: 1rem .75rem;;
  text-decoration: none;
  border-radius: var(--gcds-spacing-50);
  transition: all .15s ease-in-out;

  /* Button Role Styles */
  &.destructive {
    background-color: var(--gcds-button-destructive-default-background);
    color: var(--gcds-button-destructive-default-text);

    &:hover {
      background-color: var(--gcds-button-destructive-hover-background);

      &:focus {
        outline-color: var(--gcds-button-destructive-hover-background);
      }
    }
  }

  &.primary {
    background-color: var(--gcds-button-primary-default-background);
    color: var(--gcds-button-primary-default-text);

    &:hover {
      background-color: var(--gcds-button-primary-hover-background);

      &:focus {
        outline-color: var(--gcds-button-primary-hover-background);
      }
    }
  }

  &.secondary,
  &.text-only {
    background-color: transparent;
    color: var(--gcds-button-secondary-default-text);
    border: .125rem solid currentColor;

    &.active,
    &:hover {
      border-color: var(--gcds-button-secondary-default-text);
      color: var(--gcds-button-secondary-default-text);

      &:focus {
        outline-color: var(--gcds-button-secondary-default-text);
      }
    }

    &:hover {
      background-color: var(--gcds-button-secondary-hover-background);
    }

    &:active {
      background-color: var(--gcds-button-secondary-active-background);
    }
  }

  &.text-only {
    &:not([aria-disabled="true"]) {
      text-decoration: underline;
      text-underline-position: under;
    }

    &:not(:active):not(:hover):not([aria-disabled="true"]) {
      border-color: transparent;
    }
  }

  &.skip-to-content {
    position: absolute;
    top: 1.6rem;
    left: 0;
    width: inherit;
    z-index: 3;

    &:not(:focus) {
      clip: rect(0, 0, 0, 0);
      height: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 0;
    }
  }

  /* Shared Styles */
  &[aria-disabled="true"] {
    background-color: var(--gcds-button-shared-disabled-background);
    color: var(--gcds-button-shared-disabled-text);
    cursor: not-allowed;
    border: .125rem solid currentColor;
    pointer-events: none;
  }

  &:focus,
  &:focus-visible {
    background-color: var(--gcds-button-shared-focus-background);
    box-shadow: 0 0 0 .125rem var(--gcds-button-shared-focus-text);
    outline: .1875rem solid var(--gcds-button-shared-focus-background);
    outline-offset: .125rem;
    color: var(--gcds-button-shared-focus-text) ;
  }

  &.solid:not(.secondary):active {
    background-color: var(--gcds-button-shared-active-background);
    color: var(--gcds-button-shared-active-text);

    &:focus {
      outline-color: var(--gcds-button-shared-active-background);
    }
  }

  /* Small button styling */
  &.small {
    font-size: 80%;
    padding: var(--gcds-spacing-200);
  }
}
