:host {
  display: block;

  fieldset {
    border: none;
    padding: 0;
    color: var(--gcds-fieldset-default-text);

    legend {
      font: var(--gcds-fieldset-font);
      color: inherit;
      margin: var(--gcds-fieldset-legend-margin);
    }

    &:focus-within {
      color: var(--gcds-fieldset-focus-text);
    }

    &.gcds-fieldset--error:not(:focus-within) {
      color: var(--gcds-fieldset-danger-text);
    }

    &:disabled {
      color: var(--gcds-fieldset-disabled-text);
    }
  }

  .legend__required {
    margin: var(--gcds-fieldset-legend-required-margin);
  }

  slot {
    display: block;
    margin: 0;
  }
}
