@layer reset, default, disabled, focus;

@layer reset {
  :host {
    display: block;

    .gcds-fieldset {
      border: 0;
      padding: 0;
    }

    legend {
      padding: 0;
    }

    slot {
      display: block;
      margin: 0;
    }
  }
}

@layer default {
  .gcds-fieldset {
    color: var(--gcds-fieldset-default-text);

    legend {
      font: var(--gcds-fieldset-font-desktop);
      margin: var(--gcds-fieldset-legend-margin) !important;

      @media only screen and (width < 48em) {
        font: var(--gcds-fieldset-font-mobile);
      }

      .legend__required {
        margin: var(--gcds-fieldset-legend-required-margin) !important;
        font: var(--gcds-fieldset-legend-required-font-desktop);
        vertical-align: middle;

        @media only screen and (width < 48em) {
          font: var(--gcds-fieldset-legend-required-font-mobile);
        }
      }
    }
  }
}

@layer disabled {
  :host .gcds-fieldset:disabled {
    color: var(--gcds-fieldset-disabled-text);
  }
}

@layer focus {
  :host .gcds-fieldset:focus-within {
    color: var(--gcds-fieldset-focus-text);
  }
}
