:host {
  .gcds-radio {
    max-width: 90%;
    font-family: var(--gcds-radio-font-family);
    font-size: var(--gcds-radio-font-size);
    font-weight: var(--gcds-radio-font-weight);
    line-height: var(--gcds-radio-line-height);
    color: var(--gcds-radio-default-text);
    margin: var(--gcds-radio-margin);
    padding: 0;
    border: 0;
    transition: color ease-in-out .15s;
    position: relative;

    &:focus-within {
      color: var(--gcds-radio-focus-text);

      gcds-hint {
        color: currentColor;
      }
    }

    &.gcds-radio--disabled {
      color: var(--gcds-radio-disabled-text);

      input[type=radio]+gcds-label {
        color: var(--gcds-radio-disabled-text);

        &:before {
          border-color: var(--gcds-radio-disabled-border);
          background-color: var(--gcds-radio-disabled-background);
          cursor: not-allowed;
        }

        &:after {
          cursor: not-allowed;
        }
      }

      gcds-hint {
        color: currentColor;
      }
    }

    &.gcds-radio--error:not(:focus-within) {
      color: var(--gcds-radio-destructive-text);

      input[type=radio] + gcds-label {
        &:before {
          border-color: currentcolor;
        }

        &:after {
          color: currentcolor;
          background-color: currentcolor;
        }
      }

      gcds-hint {
        color: currentColor;
      }
    }

    input[type=radio] {
      height: var(--gcds-radio-input-height);
      width: var(--gcds-radio-input-width);
      left: 0;
      opacity: 0;
      position: absolute;
      top: var(--gcds-radio-top);

      &:checked + gcds-label:after {
        opacity: 1;
      }

      &+ gcds-label {
        width: fit-content;

        &:before,
        &:after {
          position: absolute;
          cursor: pointer;
          border-radius: var(--gcds-radio-border-radius);
          content: "";
          box-sizing: border-box;
        }

        &:before {
          border: var(--gcds-radio-input-border-width) solid currentcolor;
          height: var(--gcds-radio-input-height);
          width: var(--gcds-radio-input-width);
          left: 0;
          top: var(--gcds-radio-top);
        }

        &:after {
          height: var(--gcds-radio-check-height);
          width: var(--gcds-radio-check-width);
          color: currentcolor;
          left: var(--gcds-radio-check-left);
          opacity: 0;
          top: var(--gcds-radio-check-top);
          background-color: currentcolor;
          transition: opacity .2s ease-in-out;
        }
      }

      &:focus + gcds-label {
        color: var(--gcds-radio-focus-text);

        &:before {
          box-shadow: 0 0 0 var(--gcds-radio-input-border-width) var(--gcds-radio-focus-shadow-color);
          outline: var( --gcds-radio-focus-outline-width) solid currentcolor;
          outline-offset: var(--gcds-radio-input-border-width);
          border-color: currentcolor;
        }

        &:after {
          color: var(--gcds-radio-focus-text);
          background-color: currentcolor;
        }
      }
    }

    gcds-label,
    gcds-hint {
      display: block;
      padding: var(--gcds-radio-label-padding);
    }

    gcds-hint {
      color: var(--gcds-radio-hint-text); 
      font-size: var(--gcds-radio-hint-font-size);
    }
  }
}
