:host .gcds-container {
  display: block;
  margin: 0;
  padding: 0;

  /* Container width */
  &[class*='container'] {
    width: var(--gcds-container-full);
  }

  &.container-xl {
    max-width: var(--gcds-container-xl);
  }

  &.container-lg {
    max-width: var(--gcds-container-lg);
  }

  &.container-md {
    max-width: var(--gcds-container-md);
  }

  &.container-sm {
    max-width: var(--gcds-container-sm);
  }

  &.container-xs {
    max-width: var(--gcds-container-xs);
  }

  /* Container centered */
  &.container-centered {
    margin: 0 auto;
  }
}
