:host .gcds-select-wrapper {
  max-width: 90%;
  font-family: var(--gcds-select-font-family);
  font-size: var(--gcds-select-font-size);
  font-weight: var(--gcds-select-font-weight);
  line-height: var(--gcds-select-line-height);
  color: var(--gcds-select-default-text);
  margin: 0;
  padding: 0;
  border: 0;
  transition: color ease-in-out .15s;

  &:focus-within {
    color: var(--gcds-select-focus-text);
  }

  &.gcds-disabled {
    color: var(--gcds-select-disabled-text);
  }

  &.gcds-error:not(:focus-within) {
    color: var(--gcds-input-destructive);

    select {
      border-color: var(--gcds-input-destructive);
    }
  }
}

:host select {
  display: block;
  min-width: var(--gcds-select-min-width-and-height);
  max-width: 100%;
  height: auto;
  min-height: var(--gcds-select-min-width-and-height);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: var(--gcds-select-margin);
  padding: var(--gcds-select-padding);
  background-color: var(--gcds-select-default-background);
  color: var(--gcds-select-default-text);
  border: var(--gcds-select-border-width) solid currentColor;
  border-radius: var(--gcds-select-border-radius);
  box-sizing: border-box;
  transition: all ease-in-out .15s;

  /* Select arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.799988 0.900024L7.79999 7.90003L14.8 0.900024' stroke='currentColor' stroke-width='2'/></svg>");
  background-repeat: no-repeat;
  background-position-x: var(--gcds-select-arrow-position-x);
  background-position-y: 50%;

  &:focus {
    border-color: var(--gcds-select-focus-text);
    outline: var(--gcds-select-outline-width) solid var(--gcds-select-focus-text);
    outline-offset: var(--gcds-select-border-width);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gcds-select-disabled-background);
    border-color: var(--gcds-select-disabled-text);
  }
}
