:host {
  .gcds-checkbox {
    max-width: 90%;
    font: var(--gcds-checkbox-font);
    color: var(--gcds-checkbox-default-text);
    margin: var(--gcds-checkbox-margin);
    padding: 0;
    transition: color ease-in-out 0.15s;
    position: relative;

    &:focus-within {
      color: var(--gcds-checkbox-focus-text);

      gcds-hint {
        color: currentColor;
      }
    }

    &.gcds-checkbox--disabled {
      color: var(--gcds-checkbox-disabled-text);

      input[type=checkbox] + gcds-label {
        color: var(--gcds-checkbox-disabled-text);

        &:before {
          border-color: currentcolor;
          background-color: var(--gcds-checkbox-disabled-background);
          cursor: not-allowed;
        }

        &:after {
          cursor: not-allowed;
        }
      }

      gcds-hint {
        color: currentColor;
      }
    }

    &.gcds-checkbox--error:not(:focus-within) {
      color: var(--gcds-checkbox-danger-text);

      input[type=checkbox] + gcds-label {
        &:before {
          border-color: currentcolor;
        }

        &:after {
          color: var(--gcds-checkbox-danger-text);
        }
      }

      gcds-hint {
        color: currentColor;
      }
    }

    input[type=checkbox] {
      height: var(--gcds-checkbox-input-height-and-width);
      width: var(--gcds-checkbox-input-height-and-width);
      left: 0;
      opacity: 0;
      position: absolute;
      top: var(--gcds-checkbox-top);

      &:checked + gcds-label:after {
        opacity: 1;
      }

      &+ gcds-label {
        width: fit-content;

        &:before,
        &:after {
          cursor: pointer;
          position: absolute;
          content: "";
          box-sizing: border-box;
        }

        &:before {
          border: var(--gcds-checkbox-input-border-width) solid currentcolor;
          height: var(--gcds-checkbox-input-height-and-width);
          width: var(--gcds-checkbox-input-height-and-width);
          left: 0;
          top: var(--gcds-checkbox-top);
          border-radius: var(--gcds-checkbox-input-border-radius);
        }

        &:after {
          border: var(--gcds-checkbox-check-border-width) solid;
          border-left: 0;
          border-top: 0;
          height: var(--gcds-checkbox-check-height);
          width: var(--gcds-checkbox-check-width);
          color: currentcolor;
          left: var(--gcds-checkbox-check-left);
          opacity: 0;
          top: var(--gcds-checkbox-check-top);
          transform: rotate(40deg);
          transition: opacity .2s ease-in-out;
        }
      }

      &:focus + gcds-label {
        &:before {
          outline: var( --gcds-checkbox-focus-outline-width) solid currentcolor;
          outline-offset: var(--gcds-checkbox-input-border-width);
        }

        &:after {
          color: var(--gcds-checkbox-focus-text);
        }
      }
    }

    gcds-label,
    gcds-hint {
      display: block;
      padding: var(--gcds-checkbox-label-padding);
    }

    gcds-hint {
      font: var(--gcds-checkbox-hint-font);
      line-height: var(--gcds-checkbox-hint-line-height);
    }

    gcds-error-message {
      display:inline-block;
      padding: var(--gcds-checkbox-error-padding);
    }
  }
}
