:host .gcds-textarea-wrapper {
  width: 100%;
  max-width: 75ch;
  font-family: var(--gcds-font-families-body);
  font-weight: var(--gcds-font-weights-regular);
  font-size: var(--gcds-font-sizes-text);
  line-height: var(--gcds-line-heights-text);
  color: var(--gcds-textarea-default-text);
  margin: 0;
  padding: 0;
  border: 0;
  transition: color ease-in-out .15s;

  &:focus-within {
    color: var(--gcds-textarea-focus-text);
  }

  &.gcds-disabled {
    color: var(--gcds-textarea-disabled-text);
  }

  &.gcds-error:not(:focus-within) {
    color: var(--gcds-textarea-destructive);
  }

  .error-message-container {
    display: block;
  }
}

:host textarea {
  display: block;
  min-width: 50%;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 2.75rem;
  font-family: inherit;
  font-size: inherit;
  line-height: var(--gcds-line-heights-text);
  margin: 0 0 var(--gcds-spacing-400);
  padding: var(--gcds-spacing-200) var(--gcds-spacing-300);
  background-color: var(--gcds-textarea-default-background);
  background-image: none;
  color: var(--gcds-textarea-default-text);
  border: .125rem solid currentColor;
  border-radius: var(--gcds-spacing-50);
  box-sizing: border-box;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    border-color: var(--gcds-textarea-focus-text);
    box-shadow: 0 0 0 .125rem var(--gcds-textarea-focus-shadow);
    outline: .1875rem solid var(--gcds-textarea-focus-text);
    outline-offset: .125rem;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gcds-textarea-disabled-background);
    border-color: var(--gcds-textarea-disabled-text);
  }

  &.gcds-error:not(:focus) {
    border-color: var(--gcds-textarea-destructive);
  }
}
