:host .gcds-textarea-wrapper {
  width: 100%;
  max-width: 75ch;
  font-family: var(--gcds-textarea-font-family);
  font-size: var(--gcds-textarea-font-size);
  font-weight: var(--gcds-textarea-font-weight);
  line-height: var(--gcds-textarea-line-height);
  color: var(--gcds-textarea-default-text);
  margin: 0;
  padding: 0;
  border: 0;
  transition: color ease-in-out .15s;

  &:focus-within {
    color: var(--gcds-textarea-focus-text);
  }

  &.gcds-disabled {
    color: var(--gcds-textarea-disabled-text);
  }

  &.gcds-error:not(:focus-within) {
    color: var(--gcds-textarea-destructive);
  }

  .error-message-container {
    display: block;
  }
}

:host textarea {
  display: block;
  min-width: 50%;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: var(--gcds-textarea-min-height);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: var(--gcds-textarea-margin);
  padding: var(--gcds-textarea-padding);
  background-color: var(--gcds-textarea-default-background);
  background-image: none;
  color: var(--gcds-textarea-default-text);
  border: var(--gcds-textarea-border-width) solid currentColor;
  border-radius: var(--gcds-textarea-border-radius);
  box-sizing: border-box;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    border-color: var(--gcds-textarea-focus-text);
    box-shadow: 0 0 0 var(--gcds-textarea-border-width) var(--gcds-textarea-focus-shadow);
    outline: var(--gcds-textarea-outline-width) solid var(--gcds-textarea-focus-text);
    outline-offset: var(--gcds-textarea-border-width);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gcds-textarea-disabled-background);
    border-color: var(--gcds-textarea-disabled-text);
  }

  &.gcds-error:not(:focus) {
    border-color: var(--gcds-textarea-destructive);
  }
}
