:host {
  display: block;
  grid-column: span var(--gcds-grid-columns-default-base) / span
    var(--gcds-grid-columns-default-base);
}

:host .gcds-grid-col {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 48em) {
  :host {
    grid-column: span
      var(--gcds-grid-col-tablet, var(--gcds-grid-columns-default-tablet)) /
      span var(---gcds-grid-col-tablet, var(--gcds-grid-columns-default-tablet));
  }
}

@media screen and (min-width: 64em) {
  :host {
    grid-column: span
      var(--gcds-grid-col-desktop, var(--gcds-grid-columns-default-desktop)) /
      span
      var(--gcds-grid-col-desktop, var(--gcds-grid-columns-default-desktop));
  }
}
