@layer reset, defaults;

@layer reset {
  :host * {
    margin: 0;
    box-sizing: border-box;
  }

  :host ul {
    padding: 0;
  }
}

@layer defaults {
  :host {
    display: block;

    @media only screen and (width >= 64em) {
      background-color: var(--gcds-top-nav-background);
    }

    .gcds-top-nav__container {
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: var(--gcds-top-nav-max-width);
      margin-inline: auto;

      @media only screen and (width >= 64em) {
        flex-direction: row;
        align-items: flex-end;
      }

      .nav-container__list {
        @media only screen and (width >= 64em) {
          display: flex;
          align-items: flex-end;
          width: fit-content;

          &.nav-list--right {
            margin-inline-start: auto;
          }

          &.nav-list--center {
            margin-inline: auto;
          }
        }
      }
    }
  }
}
