:host label {
  display: block;
  max-width: 100%;
  font-size: inherit;
  font-weight: var(--gcds-font-weights-bold);
  line-height: inherit;
  margin: 0 0 var(--gcds-spacing-50);
  color: inherit;

  &.hidden {
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
  }

  &.required:before,
  .required {
    color: var(--gcds-input-destructive-default);
  }

  &.required:before {
    vertical-align: top;
    content: "* ";
    margin-left: calc(var(--gcds-spacing-200) * -1);
  }

  .required {
    margin: 0 0 0 var(--gcds-spacing-100);
  }
}
