@layer reset, default;

@layer reset {
  :host {
    slot {
      display: initial;
    }
  }
}

@layer default {
  :host {
    display: block;
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
  }
}
