:host .gcds-phase-banner {
  font: var(--gcds-phase-banner-font);
  line-height: var(--gcds-phase-banner-line-height);

  slot {
    display: inherit;
  }

  /* Is Fixed */
  &.banner-is-fixed {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  /* Role */
  &.banner--role-primary {
    background-color: var(--gcds-phase-banner-primary-background);
    color: var(--gcds-phase-banner-primary-text);
  }

  &.banner--role-secondary {
    background-color: var(--gcds-phase-banner-secondary-background);
    color: var(--gcds-phase-banner-secondary-text);
  }

  /* General Styling */
  .banner__content {
    padding: var(--gcds-phase-banner-padding);

    @media only screen and (min-width: 35em) {
      display: flex;
    }
  }

  .banner__icon {
    display: flex;
    margin: 0;

    &.icon--left {
      margin-inline-end: var(--gcds-phase-banner-icon-margin);
    }

    &.icon--right {
      margin-inline-start: var(--gcds-phase-banner-icon-margin);
    }

    @media only screen and (max-width: 34.99em) {
      display: none;
    }

    ::slotted(img),
    ::slotted(svg) {
      max-height: var(--gcds-phase-banner-icon-max-height);
    }
  }

  .banner__details {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    ::slotted(a),
    ::slotted(gcds-button) {
      flex: 0 0 auto;
    }

    ::slotted(span),
    ::slotted(small),
    ::slotted(a) {
      font-size: 80% !important;
    }

    ::slotted(p) {
      font: var(--gcds-phase-banner-font);
      margin: 0;
    }

    ::slotted(a) {
      color: inherit;
    }

    ::slotted(gcds-button) {
      margin: var(--gcds-phase-banner-details-cta-margin);
      transform: scale(90%);
    }
  }
}
