:host .gcds-phase-banner {
  font-family: var(--gcds-phase-banner-font-family);
  font-size: var(--gcds-phase-banner-font-size);
  font-weight: var(--gcds-phase-banner-font-weight);
  line-height: var(--gcds-phase-banner-line-height);

  /* Is Fixed */
  &.banner-is-fixed {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  /* Max content width */
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xs {
    width: 90%;
    margin: 0 auto;
  }

  .container-full {
    max-width: var(--gcds-phase-banner-container-full);
  }

  .container-xl {
    max-width: var(--gcds-phase-banner-container-xl);
  }

  .container-lg {
    max-width: var(--gcds-phase-banner-container-lg);
  }

  .container-md {
    max-width: var(--gcds-phase-banner-container-md);
  }

  .container-sm {
    max-width: var(--gcds-phase-banner-container-sm);
  }

  .container-xs {
    max-width: var(--gcds-phase-banner-container-xs);
  }

  /* Role */
  &.banner--role-primary {
    background-color: var(--gcds-phase-banner-primary-background);
    color: var(--gcds-phase-banner-primary-text);
  }

  &.banner--role-secondary {
    background-color: var(--gcds-phase-banner-secondary-background);
    color: var(--gcds-phase-banner-secondary-text);
  }

  /* General Styling */
  .banner__content {
    padding: var(--gcds-phase-banner-padding);

    @media only screen and (min-width: 35em) {
      display: flex;
    }
  }

  .banner__icon {
    display: flex;
    margin: 0;

    &.icon--left {
      margin-inline-end: var(--gcds-phase-banner-icon-margin);
    }

    &.icon--right {
      margin-inline-start: var(--gcds-phase-banner-icon-margin);
    }

    @media only screen and (max-width: 34.99em) {
      display: none;
    }

    ::slotted(img),
    ::slotted(svg) {
      max-height: var(--gcds-phase-banner-icon-max-height);
    }
  }

  .banner__details {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    ::slotted(a),
    ::slotted(gcds-button) {
      flex: 0 0 auto;
    }

    ::slotted(span),
    ::slotted(small),
    ::slotted(a) {
      font-size: 80% !important;
    }

    ::slotted(p) {
      line-height: var(--gcds-phase-banner-line-height);
      margin: 0;
    }

    ::slotted(a) {
      color: inherit;
    }

    ::slotted(gcds-button) {
      margin: var(--gcds-phase-banner-details-cta-margin);
      transform: scale(90%);
    }
  }
}
