@layer reset, default;

@layer reset {
  :host {
    display: block;

    slot {
      display: initial;
    }
  }
}

@layer default {
  :host {
    font: var(--gcds-date-modified-font);
    color: var(--gcds-date-modified-text);
    margin: var(--gcds-date-modified-margin);

    .gcds-date-modified {
      :is(dt, dd) {
        display: inline;
      }

      dd {
        margin: var(--gcds-date-modified-description-margin);
      }
    }
  }
}
