:host {
  display: block;
  font-family: var(--gcds-date-modified-font-family);
  font-size: var(--gcds-date-modified-font-size);
  font-weight: var(--gcds-date-modified-font-weight);
  line-height: var(--gcds-date-modified-line-height);
  color: var(--gcds-date-modified-text);
  margin-top: var(--gcds-date-modified-margin-top);

  .gcds-date-modified {

    dt,
    dd {
      display: inline;
    }
  
    dd {
      margin-left: var(--gcds-date-modified-margin-left);
    }
  }

}
