@layer reset, default;

@layer reset {
  :host {
    display: inline-block;

    slot {
      display: initial;
    }
  }
}

@layer default {
  :host .error-message {
    margin: var(--gcds-error-message-margin);
    padding: var(--gcds-error-message-padding);
    background: var(--gcds-error-message-background);
    border-inline-start: var(--gcds-error-message-border-width) solid
      var(--gcds-error-message-border-color);
  }
}
