:host {
  display: inline-block;
}

:host .error-message {
  font-family: var(--gcds-error-message-font-family);
  font-size: var(--gcds-error-message-font-size);
  font-weight: var(--gcds-error-message-font-weight);
  line-height: var(--gcds-error-message-line-height);
  margin: var(--gcds-error-message-margin);
  padding: var(--gcds-error-message-padding);
  background: var(--gcds-error-message-background);
  color: var(--gcds-error-message-text);
  border-left: var(--gcds-error-message-border-width) solid var(--gcds-error-message-border-color);
}
