:host {
  display: inline-block;
}

:host .error-message {
  font: var(--gcds-error-message-font);
  margin: var(--gcds-error-message-margin);
  padding: var(--gcds-error-message-padding);
  background: var(--gcds-error-message-background);
  color: var(--gcds-error-message-text);
  border-inline-start: var(--gcds-error-message-border-width) solid var(--gcds-error-message-border-color);
}
