:host .gcds-alert {
  font: var(--gcds-alert-font);
  text-align: left;
  box-sizing: border-box;
  color: var(--gcds-alert-text);
  padding: var(--gcds-alert-padding);
  border-inline-start: var(--gcds-alert-border-width) solid transparent;

  /* Is Fixed */
  &.alert--is-fixed {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    border: 0;
  }

  /* Container width */
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xs {
    width: var(--gcds-alert-container-full);
    margin: 0 auto;
  }

  .container-full {
    max-width: var(--gcds-alert-container-full);
  }

  .container-xl {
    max-width: var(--gcds-alert-container-xl);
  }

  .container-lg {
    max-width: var(--gcds-alert-container-lg);
  }

  .container-md {
    max-width: var(--gcds-alert-container-md);
  }

  .container-sm {
    max-width: var(--gcds-alert-container-sm);
  }

  .container-xs {
    max-width: var(--gcds-alert-container-xs);
  }

  /* Role */
  &.alert--role-danger {
    background-color: var(--gcds-alert-danger-background);
    border-color: var(--gcds-alert-danger-icon);
    color: var(--gcds-alert-danger-text);

    .alert__icon {
      color: var(--gcds-alert-danger-icon);
    }
  }

  &.alert--role-info {
    background-color: var(--gcds-alert-info-background);
    border-color: var(--gcds-alert-info-icon);
    color: var(--gcds-alert-info-text);

    .alert__icon {
      color: var(--gcds-alert-info-icon);
    }
  }

  &.alert--role-success {
    background-color: var(--gcds-alert-success-background);
    border-color: var(--gcds-alert-success-icon);
    color: var(--gcds-alert-success-text);

    .alert__icon {
      color: var(--gcds-alert-success-icon);
    }
  }

  &.alert--role-warning {
    background-color: var(--gcds-alert-warning-background);
    border-color: var(--gcds-alert-warning-icon);
    color: var(--gcds-alert-warning-text);

    .alert__icon {
      color: var(--gcds-alert-warning-icon);
    }
  }

  /* Content */
  .alert__container {
    @media only screen and (width >= 36em) {
      display: flex;
      align-items: flex-start;
    }
  }

  .alert__icon {
    display: inline-block;
    margin: var(--gcds-alert-icon-margin);

    @media only screen and (width < 36em) {
      margin: var(--gcds-alert-icon-mobile-margin);
    }
  }

  .alert__content {
    flex: 1 1 auto;

    .alert__heading {
      font: var(--gcds-alert-content-heading-font);
      margin: var(--gcds-alert-content-heading-margin);

      @media only screen and (width < 36em) {
        margin: var(--gcds-alert-content-heading-mobile-margin);
      }
    }

    ::slotted(*) {
      margin-block-start: 0;
    }

    ::slotted(*:last-child) {
      margin-block-end: 0;
    }

    ::slotted(*:not(:last-child)) {
      margin-block-end: var(--gcds-alert-content-slotted-margin);
    }

    ::slotted(ol),
    ::slotted(ul) {
      margin-inline-start: var(--gcds-alert-content-slotted-list-margin);
      padding: 0;
    }
  }

  .alert__close-btn {
    background-color: var(--gcds-alert-button-default-background);
    color: var(--gcds-alert-button-default-text);
    box-sizing: border-box;
    border: var(--gcds-alert-button-border-width) solid transparent;
    border-radius: var(--gcds-alert-button-border-radius);
    margin: var(--gcds-alert-button-margin);
    padding: 0;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    @media only screen and (width < 36em) {
      margin: var(--gcds-alert-button-mobile-margin);
    }

    gcds-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--gcds-alert-button-icon-width-and-height);
      height: var(--gcds-alert-button-icon-width-and-height);
      padding: var(--gcds-alert-button-icon-padding);
    }

    &:active,
    &:hover {
      border-color: var(--gcds-alert-button-active-border-color);
    }

    &:focus {
      border-color: var(--gcds-alert-button-focus-background);
      background-color: var(--gcds-alert-button-focus-background);
      box-shadow: 0 0 0 var(--gcds-alert-button-border-width) var(--gcds-alert-button-focus-text);
      outline: var(--gcds-alert-button-outline-width) solid var(--gcds-alert-button-focus-background);
      outline-offset: var(--gcds-alert-button-border-width);
      color: var(--gcds-alert-button-focus-text);
    }
  }
}
