:host .gcds-alert {
  text-align: left;
  font-family: var(--gcds-font-families-body);
  box-sizing: border-box;
  color: var(--gcds-alert-text);
  padding: var(--gcds-spacing-500);
  border-left: 0.375rem solid transparent;

  /* Is Fixed */
  &.is-fixed {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    border: 0;

    @media only screen and (min-width: 48em) {
      padding: var(--gcds-spacing-600);
    }
  }

  /* Max content width */
  .container-lg,
  .container-md,
  .container-sm,
  .container-xs {
    width: 90%;
    margin: 0 auto;
  }

  .container-fluid {
    max-width: var(--gcds-container-500);
    padding-inline: var(--gcds-spacing-300);
  }

  .container-lg {
    max-width: var(--gcds-container-400);
  }

  .container-md {
    max-width: var(--gcds-container-300);
  }

  .container-sm {
    max-width: var(--gcds-container-200);
  }

  .container-xs {
    max-width: var(--gcds-container-100);

    .alert-content {
      margin-inline: 0;
    }
  }

  /* Role */
  &.role-destructive {
    background-color: var(--gcds-alert-destructive-background);
    border-color: var(--gcds-alert-destructive-icon);

    .alert-icon {
      color: var(--gcds-alert-destructive-icon);
    }
  }

  &.role-info {
    background-color: var(--gcds-alert-info-background);
    border-color: var(--gcds-alert-info-icon);

    .alert-icon {
      color: var(--gcds-alert-info-icon);
    }
  }

  &.role-success {
    background-color: var(--gcds-alert-success-background);
    border-color: var(--gcds-alert-success-icon);

    .alert-icon {
      color: var(--gcds-alert-success-icon);
    }
  }

  &.role-warning {
    background-color: var(--gcds-alert-warning-background);
    border-color: var(--gcds-alert-warning-icon);

    .alert-icon {
      color: var(--gcds-alert-warning-icon);
    }
  }

  /* Content */
  .alert-heading {
    display: flex;
    align-items: flex-start;
    font-family: var(--gcds-font-families-heading);
    font-size: var(--gcds-font-sizes-h5);
    line-height: var(--gcds-line-heights-h5);
    margin: 0 0 var(--gcds-spacing-400);

    .alert-icon {
      margin-right: var(--gcds-spacing-400);
    }

    span {
      flex: 1 1 auto;
    }

    .alert-close-btn {
      flex: 0 0 2.75rem;
      width: 2.75rem;
      height: 2.75rem;
      margin: -0.75rem -0.75rem 0 var(--gcds-spacing-400);
      padding: 0;
      background-color: transparent;
      box-sizing: border-box;
      border: 0;
      border-radius: 100%;
      transition: all 0.15s ease-in-out;

      @media only screen and (max-width: 35em) {
        display: none;
      }

      &:focus {
        background-color: var(--gcds-alert-button-focus-background);
        box-shadow: 0 0 0 0.125rem var(--gcds-alert-button-focus-text);
        outline: 0.1875rem solid var(--gcds-alert-button-focus-background);
        outline-offset: 0.125rem;
        color: var(--gcds-alert-button-focus-text);
      }
    }
  }

  .alert-content {
    font-size: var(--gcds-font-sizes-text);

    @media only screen and (min-width: 48em) {
      margin-inline: var(--gcds-spacing-500);
    }

    ::slotted(*:not(:last-child)) {
      margin-bottom: var(--gcds-spacing-400);
    }

    ::slotted(p:last-child) {
      margin-bottom: 0;
    }

    ::slotted(ol),
    ::slotted(ul) {
      margin: 0 0 0 var(--gcds-spacing-400);
      padding: 0;
    }
  }
}
