:host .gcds-input-wrapper {
  width: 75ch;
  max-width: 90%;
  font: var(--gcds-input-font);
  color: var(--gcds-input-default-text);
  margin: 0;
  padding: 0;
  border: 0;
  transition: color ease-in-out .15s;

  &:focus-within {
    color: var(--gcds-input-focus-text);
  }

  &.gcds-disabled {
    color: var(--gcds-input-disabled-text);
  }

  &.gcds-error:not(:focus-within) {
    color: var(--gcds-input-destructive-text);
  }
}

:host input {
  display: block;
  min-width: var(--gcds-input-min-width-and-height);
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: var(--gcds-input-min-width-and-height);
  font: inherit;
  margin: var(--gcds-input-margin);
  padding: var(--gcds-input-padding);
  background-color: var(--gcds-input-default-background);
  background-image: none;
  color: var(--gcds-input-default-text);
  border: var(--gcds-input-border-width) solid currentColor;
  border-radius: var(--gcds-input-border-radius);
  box-sizing: border-box;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    border-color: var(--gcds-input-focus-text);
    outline: var(--gcds-input-outline-width) solid var(--gcds-input-focus-text);
    outline-offset: var(--gcds-input-border-width);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gcds-input-disabled-background);
    border-color: var(--gcds-input-disabled-text);
  }

  &.gcds-error:not(:focus) {
    border-color: var(--gcds-input-destructive-text);
  }
}
