@layer reset, default, type;

@layer reset {
  :host {
    display: block;

    .gcds-notice {
      text-align: left;
      box-sizing: border-box;

      slot {
        display: initial;
      }
    }
  }
}

@layer default {
  :host .gcds-notice {
    color: var(--gcds-notice-text);
    padding: var(--gcds-notice-padding);
    border-inline-start: var(--gcds-notice-border-width) solid transparent;
    position: relative;
    padding-block-end: var(--gcds-spacing-250);
    
    border-image: linear-gradient(to bottom, var(--gcds-notice-border-color) var(--gcds-spacing-300), var(--gcds-notice-border-color) var(--gcds-spacing-250), transparent var(--gcds-spacing-300), transparent var(--gcds-spacing-550), var(--gcds-notice-border-color) var(--gcds-spacing-550), var(--gcds-notice-border-color) var(--gcds-spacing-550)) 1 100%;
    /* border-image: linear-gradient(to bottom, #d3080c var(--gcds-spacing-300), #d3080c var(--gcds-spacing-250), transparent var(--gcds-spacing-300), transparent var(--gcds-spacing-550), #d3080c var(--gcds-spacing-550), #d3080c var(--gcds-spacing-550)) 1 100%; */

    .notice__heading {
      padding-block-start: var(--gcds-spacing-300);
      --gcds-heading-h2-desktop: var(--gcds-notice-content-heading-font-desktop);
      --gcds-heading-h2-mobile: var(--gcds-notice-content-heading-font-mobile);
      margin: var(--gcds-spacing-300);

      /* .notice__type {
        font: var(--gcds-notice-content-type-font-desktop);
        display: block;
        margin: var(--gcds-notice-content-type-margin);

        @media only screen and (width < 48em) {
          font: var(--gcds-notice-content-type-font-mobile);
        }
      } */
    }

    .notice__icon {
      position: absolute;
      top: var(--gcds-spacing-300);
      margin-top: var(--gcds-spacing-50);
      left: -1rem;
    }

    .notice__body {
      margin: var(--gcds-spacing-300);
    }

    ::slotted(*) {
      margin-block-start: 0;
      font: var(--gcds-notice-content-slotted-font-desktop);

      @media only screen and (width < 48em) {
        font: var(--gcds-notice-content-slotted-font-mobile);
      }
    }

    ::slotted(*:last-child) {
      margin-block-end: 0;
    }

    ::slotted(*:not(:last-child)) {
      margin-block-end: var(--gcds-notice-content-slotted-margin);
    }

    ::slotted(ol),
    ::slotted(ul) {
      margin-inline-start: var(--gcds-notice-content-slotted-list-margin);
      padding: 0;
    }
  }
}

@layer type {
  :host .gcds-notice {
    &.notice--type-danger {
      border-color: var(--gcds-notice-danger-text);
      --gcds-notice-border-color: var(--gcds-notice-danger-text);

      .notice__icon {
        color: var(--gcds-notice-danger-text);
      }
    }

    &.notice--type-info {
      border-color: var(--gcds-notice-info-text);
      --gcds-notice-border-color: var(--gcds-notice-info-text);
      .notice__icon {
        color: var(--gcds-notice-info-text);
      }
    }

    &.notice--type-success {
      border-color: var(--gcds-notice-success-text);
      --gcds-notice-border-color: var(--gcds-notice-success-text);

      .notice__icon {
        color: var(--gcds-notice-success-text);
      }
    }

    &.notice--type-warning {
      border-color: var(--gcds-notice-warning-text);
      --gcds-notice-border-color: var(--gcds-notice-warning-text);

      .notice__icon {
        color: var(--gcds-notice-warning-text);
      }
    }
  }
}
