:host .gcds-label {
  display: block;
  max-width: 100%;
  font-size: inherit;
  font-weight: var(--gcds-font-weights-bold);
  line-height: inherit;
  margin: 0 0 var(--gcds-spacing-50);
  color: inherit;

  &.label--hidden {
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
  }

  .label--required {
    margin: 0 0 0 var(--gcds-spacing-100);
  }
}

gcds-checkbox :host label,
gcds-radio :host label {
  cursor: pointer;
}
