:host .gcds-label {
  display: block;
  max-width: 100%;
  font: var(--gcds-label-font);
  margin: var(--gcds-label-margin);
  color: inherit;

  &.label--hidden {
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
  }

  .label--required {
    margin: var(--gcds-label-required-margin);
  }
}

gcds-checkbox :host label,
gcds-radio :host label {
  cursor: pointer;
}
