gcds-signature {
  display: block;
  width: fit-content;
  margin-bottom: var(--gcds-signature-margin-bottom);

  svg {
    max-width: 100%;
  }

  &:not([type='wordmark']) {
    svg {
      height: var(--gcds-signature-signature-height);
      margin-bottom: var(--gcds-signature-signature-margin-bottom);
    }

    @media screen and (min-width: 64em) {
      svg {
        height: 2.125rem;
      }
    }
  }

  &[type='wordmark'] {
    svg {
      height: var(--gcds-signature-wordmark-height);
      margin-bottom: var(--gcds-signature-wordmark-margin-bottom);
      margin-top: var(--gcds-signature-wordmark-margin-top);
      width: auto;
    }
  }

  &:not([variant='white']) {
    svg {
      .fip_text {
        fill: var( --gcds-signature-color-text);
      }

      .fip_flag {
        fill: var(--gcds-signature-color-flag);
      }
    }
  }

  &[variant='white'] {
    svg {
      .fip_text,
      .fip_flag {
        fill: var(--gcds-signature-white-default);
      }
    }
  }
}
