@layer reset, default, type.signature, type.wordmark, variant.colour, variant.white;

@layer reset {
  gcds-signature {
    display: block;
    width: fit-content;
  }
}

@layer default {
  gcds-signature {
    .gcds-signature {
      display: flex;
    }

    svg {
      max-width: 100%;
    }
  }
}

@layer type.signature {
  gcds-signature:not([type='wordmark']) svg {
    height: var(--gcds-signature-signature-height);

    @media screen and (min-width: 64em) {
      height: 2.125rem;
    }
  }
}

@layer type.wordmark {
  gcds-signature[type='wordmark'] svg {
    height: var(--gcds-signature-wordmark-height);
    width: auto;
  }
}

@layer variant.colour {
  gcds-signature:not([variant='white']) svg {
    .fip_text {
      fill: var(--gcds-signature-color-text);
    }

    .fip_flag {
      fill: var(--gcds-signature-color-flag);
    }
  }
}

@layer variant.white {
  gcds-signature[variant='white'] svg {
    :is(.fip_text, .fip_flag) {
      fill: var(--gcds-signature-white-default);
    }
  }
}
