name: Build components
on:
  workflow_dispatch:
  pull_request:
      branches:
        - main
        - gcds-components-ssr

jobs:
  build-packages:
    name: Build all packages
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-node@65beceff8e91358525397bdce9103d999507ab03
        with:
          node-version: 18

      - name: Install repo
        run: npm install

      - name: Build gcds-components
        run: npm run build

  build-storybook:
    name: Build storybook
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-node@65beceff8e91358525397bdce9103d999507ab03
        with:
          node-version: 18

      - name: Install gcds-components
        run: npm install

      - name: Build gcds-components
        run: npm run build

      - name: Build Storybook
        run: npm run build-storybook
