name: Run Tests
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-22.04 # latest version 24 has incompatibility issues (playwright)
    steps:
      - name: Git Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - uses: actions/setup-node@54045abd5dcd3b0fee9ca02fa24c57545834c9cc
        with:
          node-version: 22

      - name: Install gcds-components
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Build repo
        run: npm run build

      - name: Run tests
        run: npm run test
